<div class="d-flex align-items-center justify-content-center vh-100" style="background-color: #00214A;">
    <div class="row w-100">
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <img src="assets/images/login.png" alt="Person smiling" class="img-fluid rounded-lg shadow-lg">
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-center text-white p-4">
        <h1 class="text-3xl font-bold mb-4">Bienvenue <span role="img" aria-label="wave">👋</span></h1>
        <p class="mb-6">L'entrepreneuriat est l'art de transformer une vision audacieuse en réalité, en forgeant un chemin là où il n'en existait pas, avec la passion comme boussole et l'innovation comme moteur</p>
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
        <form>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" 
       id="email" 
       placeholder="example@gmail.com" 
       class="form-control custom-placeholder" 
       style="background-color: #00214A; color: white;" 
       required 
       [(ngModel)]="userObject.email" 
       name="email">

          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" 
       id="password" 
       placeholder="********" 
       class="form-control custom-placeholder" 
       style="background-color: #00214A; color: white;" 
       required 
       [(ngModel)]="userObject.password" 
       name="password">

          </div>
          <!-- <div class="form-check mb-4">
            <input type="checkbox" id="remember" class="form-check-input">
            <label for="remember" class="form-check-label">Se souvenir de moi</label>
          </div> -->
          <button type="submit" class="btn btn-warning text-white" style="background-color: #FF9700;" (click)="login()">Connexion</button>
        </form>
        <p class="mt-4 text-sm">Pas de compte? <a href="/register" class="text-warning">Cliquez ici</a></p>
        
      </div>
    </div>
  </div>
  
  
  