<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h2>Kaay Entreprendre</h2>
       <P>
        "Kaay Entreprendre" est une nouvelle initiative passionnée par l'entrepreneuriat et dédiée à l'éducation, l'accompagnement et l'inspiration des entrepreneurs débutants. 
       </P>
       <img src="assets/footer/vector.png" alt="">
       <img src="assets/footer/icon.png" alt="">
       <img src="assets/footer/facebook.png" alt="">
       <img src="assets/footer/tw.png" alt="">
      </div>
      <div class="footer-section">
        <h2>Explorer</h2>
        <ul>
          <li> <img src="assets/footer/Arrow - Right 2.png" alt=""><a href="#guide">Guide</a></li>
          <li><img src="assets/footer/Arrow - Right 2.png"><a href="#accompagnement">Retour expérience </a></li>
          <li><img src="assets/footer/Arrow - Right 2.png"><a href="#forums">Ressources</a></li>
          <li><img src="assets/footer/Arrow - Right 2.png"><a href="#retour-experience">événement</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h2>service</h2>
        <ul>
          <li><img src="assets/footer/Arrow - Right 2.png"><a href="#evenements">accompagnment 
            personnalisé</a></li>
          <li><img src="assets/footer/Arrow - Right 2.png"><a href="#creative-markets">forumes</a></li>
          <li><img src="assets/footer/Arrow - Right 2.png"><a href="#creative-markets">Événement</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h2>A propos</h2>
        <ul>
          <li><img src="assets/footer/Arrow - Right 2.png"><a href="#conditions">notre mission</a></li>
          <li><img src="assets/footer/Arrow - Right 2.png"><a href="#rights">notre engagement</a></li>
          <li><img src="assets/footer/Arrow - Right 2.png"><a href="#rights">Nos valeur</a></li>
          <li><img src="assets/footer/Arrow - Right 2.png"><a href="#rights">Conditions d'utilisation</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Kaay Entreprendre. All Rights Reserved.</p>
    </div>
  </footer>
  