<header class="container">
    <app-header-coach></app-header-coach>
</header>
<div class="container mt-4">
    <!-- Bouton Retour -->
    <div class="mb-4">
        <a routerLink="/ressources-coach" class="btn btn-dark">Retour</a>
    </div>
    
    <!-- Afficher le message de succès -->
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="successMessage">
        {{ successMessage }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
    <!-- Afficher les messages d'erreur -->
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessages.length > 0">
        <ul>
            <li *ngFor="let error of errorMessages">{{ error }}</li>
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
    <div class="card mb-3 card-no-border">
        <div class="banniere">
            <img [src]="getPhotoUrl(ressource.image)" alt="Banner Image">
            <div class="btn-reserver rounded-pill d-flex flex-column flex-md-row">
                <!-- Boutons de réservation ou autres actions -->
            </div>
        </div>
        <div>
            <div class="body_detail">
                <div class="card-body col-md-7">
                    <h1>{{ ressource.titre }}</h1>
                    <p>{{ ressource.description }}</p>
                    
                    <div class="info-item">
                        <i class="far fa-calendar-alt" style="color: #FF8200"></i> {{ ressource.created_at| date:'dd/MM/yyyy' }}
                    </div>
                </div>
                <div class="row card-border mt-5">
                    <div class="col-md-4">
                        <div class="card-association">
                            <!-- <img [src]="getPhotoUrl(categorie?.image)" class="card-img-top" alt="association Logo"> -->
                            <div class="card-body">
                                <h5 class="card-title">{{ categorie?.titre }}</h5>
                                <p><a [href]="getFileUrl(ressource.contenu)" target="_blank"><img src="../../../../assets/pdflogo.png" alt=""></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

