.container {
    font-family: "Poppins", sans-serif;
    color: black;
}
.banniere {
    height: 50vh;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.banniere img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintient le ratio de l'image et la centre */
}
.card-no-border {
    border: none; /* Supprime la bordure de la carte */
}
.btn-reserver {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 5px;
}
.btn-light {
    background-color: #FF8200;
    color: #fff;
    border: none;
    
}
.info-item {
    margin-bottom: 10px;
    font-size: 14px;
}
.info-item i {
    margin-right: 10px;
}
.association-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.association-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.text-danger {
    background: #fff;
    padding: 10px;
    border-radius: 6px;
}
.card-association {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border: none; /* Supprime la bordure de la carte */
}
.card-association .card-img-top {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.card-association .card-body {
    padding-left: 20px;
}
.badge.orange {
    background-color: #fce6ce;
    padding: 5px 10px;
    border-radius: 20px;
}
.body_detail {
    display: flex;
    flex-direction: column;
}
.btn-dark{
    background: transparent;
    color: #FF8200;
    border: none;
    
}

.card-border {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 10px;
    margin: 12px;

}
.body_detail h1 {
    font-size: 24px;
    font-weight: bold;
}

.body_detail p {
    font-size: 16px;
    line-height: 1.5;
}


@media (max-width: 767px) {
    .banniere {
        height: 40vh; /* Diminuer la hauteur de la bannière pour les petits écrans */
    }
    .btn-reserver {
        bottom: 10px;
    }
}
@media (min-width: 768px) {
    .body_detail {
        flex-direction: row;
    }
}