
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="profil1">
    <div>
    <div>
      <img src="../assets/images/homme-affaires-afro-americain-serieux_74855-1215.jpg" alt="Homme d'affaire" id="image_pro">
      <h5 id="h5">Coach en BTP</h5>
    </div>

    <div class="profil">
      <div>
        <i class="fa-regular fa-user" style="color: #FF9700;"></i>
        <p>Makalou</p>
      </div>
      <div>
        <i class="fa-regular fa-user" style="color: #FF9700;"></i>
        <p>Jean pierre</p>

      </div>
      <div>
        <i class="fa-solid fa-phone" style="color: #FF9700;"></i>
        <p>+221 77 000 00 00</p>
      </div>
      <div>
        <i class="fa-regular fa-envelope" style="color: #FF9700;"></i>
        <p>makaloupierregmail.com</p>
      </div>
      <div>
        <i class="fa-solid fa-location-dot" style="color: #FF9700;"></i>
        <p>Sacré coeur 3 villa n°35, Dakar</p>
      </div>
      <i class="fa-brands fa-linkedin" ></i>
      <i class="fa-brands fa-x-twitter"></i>
      <i class="fa-brands fa-facebook"></i>
    </div>
    <button id="envoyer">Envoyer demande</button>
    </div>
    <div>
    <div>
      <h2>PRESENTATION</h2>
      <P>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercice ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident""Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercice ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident"</P>
    </div>

    <div>
      <h2>EXPERIENCES</h2>
      <P>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercice ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident""Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercice ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident"</P>
    </div>
    </div>
  </div>

</body>
</html>
