/*Page Profil Coach*/
 body{
  margin: auto;
}

.profil{
  border: solid rgb(159, 154, 154) 2px;
  width: 90%;
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
  margin-top: 50px;

}

#h5{
  text-align: center;
}

.profil1{
  display: flex;
  gap: 100px;
  margin-top: 40px;
}

#envoyer{
  border-radius: 10px;
  background-color: #FF9700;
  color: white;
  font-weight: bold;
  border: solid rgb(195, 193, 193) 1px;
  font-size: 1em;

}




#image_pro{

  width: 400px;
  border-radius: 250px;
}


@media screen and (max-width: 340px)
{
 .profil1{

  display: block;

 }
}



