<header>
  <app-header1></app-header1>
</header>
<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-xl-30 col-md-12" *ngIf="coach">
        <div class="card user-card-full">
          <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <div class="m-b-25">
                  <img *ngIf="coach.photo" [src]="coach.photo" alt="{{ coach.name }}" id="image_pro" class="img-radius">
                </div>
                <h6 class="f-w-600">{{ coach.name }}</h6>
                <p *ngIf="coach.secteur_activite" class="card-text">Coach en {{ coach.secteur_activite.libelle }}</p>
                <i class="mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="card-block">
                <h6 class="m-b-80 p-b-5 b-b-default f-w-600">Information</h6>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-20 f-w-600">Email</p>
                    <p class="text-muted f-w-400">{{ coach.email }}</p>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Téléphone</p>
                    <p class="text-muted f-w-400">{{ coach.telephone }}</p>
                  </div>
                </div>
                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Projects</h6>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Adresse</p>
                    <p class="text-muted f-w-400">{{ coach.adresse }}</p>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Secteur d'activité</p>
                    <p *ngIf="coach.secteur_activite && coach.secteur_activite.libelle" class="card-text">
                      {{ coach.secteur_activite.libelle }}
                    </p>
                  </div>
                </div>
                <!-- Bouton pour envoyer la demande -->
                <button class="btn btn-primary" (click)="sendRequest()">Demander</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>