<header>
  <app-header1></app-header1>
</header>

<div class="profil1" *ngIf="coachProfile && coachProfile.length > 0">
  <!-- Boucle sur le profil du coach si vous en avez plusieurs -->
  <div *ngFor="let coach of users">
    <div>
      <!-- Image du coach -->
      <img [src]="coach.imageUrl" alt="Photo de {{ coach.name }}" id="image_pro">
      <h5 id="h5">{{ coach.secteurActivite }}</h5>
    </div>

    <div class="profil">
      <div class="user">
        <div>
          <img src="../assets/images/mdi_user-outline.svg">
          <p>{{ users.name }}</p>
        </div>
       
      </div>
      <div>
        <img src="../assets/images/phone.svg">
        <p>{{ users.telephone }}</p>
      </div>
      <div>
        <img src="../assets/images/env.svg">
        <p>{{ users.email }}</p>
      </div>
      <div>
        <img src="../assets/images/location-outline.svg">
        <p>{{ users.addresse }}</p>
      </div>
      <img src="../assets/images/formkit_facebook.svg" alt="logo facebook" *ngIf="coach.socialLinks.facebook">
      <img src="../assets/images/twitter.svg" alt="logo twitter" *ngIf="coach.socialLinks.twitter">
      <img src="../assets/images/linkedin.svg" alt="logo linkedin" *ngIf="coach.socialLinks.linkedin">
    </div>
    <button id="envoyer">Envoyer demande</button>
  </div>

  <div>
    <div>
      <h2 id="h2">PRESENTATION</h2>
      <p>{{ coach.presentation }}</p>
    </div>

    <div>
      <h2 id="h2">EXPERIENCES</h2>
      <p>{{ coach.experiences }}</p>
    </div>
  </div>
</div>

<footer>
  <app-footer></app-footer>
</footer>
