<header class="container">
    <app-header-admin></app-header-admin>
</header>
<section class="ressources container mt-5">
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="filter-sidebar">
                <h5>Rechercher par thématique</h5>
                <div class="form-group">
                    <label for="searchTheme">Rechercher un thème</label>
                    <input type="text" class="form-control" id="searchTheme" [(ngModel)]="searchQuery" placeholder="Entrez un thème">
                </div>
                <button class="btn btn-custom btn-logout mt-4" routerLink="/ajouter-evenement">Ajouter une événement</button>
            </div>
        </div>
    
        <div class="col-md-9 ">
            <div class="row">
                <!-- Loop through events dynamically and filter by search query -->
                <div class="col-md-4 mb-4" *ngFor="let event of events ">
                    <div class="card mb-4">
                        

                        <img *ngIf="event.image" [src]="getPhotoUrl(event.image)" [alt]="event.theme" class="card-img-top">

                        
                        <div class="card-body">
                            <h5 class="card-title">{{event.theme}}</h5>
                            <p class="card-text">{{event.description}}</p>
                            <div class="d-flex justify-content-between">
                                <button class="badge text-dark">{{event.nombre_places}} places</button>
                                <a [routerLink]="['/events-details-admin', event.id]" class="badge text-dark">Voir Détails</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
