<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="container-fluid p-5">
  <h1 class="text-left mb-4">Inscription</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="name" class="form-label">Nom</label>
        <input id="name" formControlName="name" type="text" class="form-control" placeholder="nom">
        <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="text-warning">
          Le nom est obligatoire et doit comporter moins de 255 caractères.
        </div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input id="email" formControlName="email" type="email" class="form-control" placeholder="example@gmail.com">
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-warning">
          Un email valide est requis et doit être unique.
        </div>
      </div>

      <div class="mb-3">
        <label for="photo" class="form-label">Photo</label>
        <input id="photo" formControlName="photo" type="file" class="form-control" (change)="onFileSelected($event)">
        <div *ngIf="registerForm.get('photo')?.invalid && registerForm.get('photo')?.touched" class="text-warning">
          Une photo est requise (jpeg, jpg, png, max 2Mo).
        </div>
      </div>

     

      <div class="mb-3">
        <label for="cv" class="form-label">CV (optionnel)</label>
        <input id="cv" formControlName="cv" type="file" class="form-control" (change)="onCVSelected($event)">
        <div *ngIf="registerForm.get('cv')?.invalid && registerForm.get('cv')?.touched" class="text-warning">
          Un CV est requis (pdf, max 2Mo).
        </div>
      </div>

      <div class="mb-3">
        <label for="adresse" class="form-label">Adresse</label>
        <input id="adresse" formControlName="adresse" type="text" class="form-control" placeholder="adresse">
        <div *ngIf="registerForm.get('adresse')?.invalid && registerForm.get('adresse')?.touched" class="text-warning">
          L'adresse est obligatoire et doit contenir moins de 255 caractères.
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-3">
        <label for="telephone" class="form-label">Téléphone</label>
        <input id="telephone" formControlName="telephone" type="text" class="form-control" placeholder="770000000">
        <div *ngIf="registerForm.get('telephone')?.invalid && registerForm.get('telephone')?.touched" class="text-warning">
          Le téléphone est obligatoire et doit être unique.
        </div>
      </div>

      <div class="mb-3">
        <label for="secteur_activite_id" class="form-label">Secteur d'activité</label>
        <select id="secteur_activite_id" formControlName="secteur_activite_id" class="form-control">
          <option *ngFor="let secteur of secteurActivites" [value]="secteur.id">{{ secteur.libelle }}</option>
          <option *ngIf="secteurActivites.length === 0">Aucun secteur d'activité disponible</option>
        </select>
        <div *ngIf="registerForm.get('secteur_activite_id')?.invalid && registerForm.get('secteur_activite_id')?.touched" class="text-warning">
          Le secteur d'activité est requis.
        </div>
      </div>

    
      <div class="mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <div class="password-container">
          <input id="password" formControlName="password" [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder="********">
          <span (click)="togglePasswordVisibility()" class="toggle-password">{{ showPassword ? '🙈' : '👁️' }}</span>
        </div>
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger">
          Le mot de passe est requis et doit comporter au moins 8 caractères.
        </div>
        
       </div>
      <div class="mb-3">
        <label for="password_confirmation" class="form-label">Confirmer le mot de passe</label>
        <input id="password_confirmation" formControlName="password_confirmation" type="password" class="form-control" placeholder="********">
        <div *ngIf="registerForm.hasError('notSame') && registerForm.get('password_confirmation')?.touched" class="text-warning">
          Les mots de passe ne correspondent pas.
        </div>
      </div>

      <div class="mb-3">
        <label for="role" class="form-label">Rôle</label>
        <select id="role" formControlName="role" class="form-control">
          <option value="entrepreneur">Entrepreneur</option>
          <option value="coach">Coach</option>
        </select>
        <div *ngIf="registerForm.get('role')?.invalid && registerForm.get('role')?.touched" class="text-warning">
          Le rôle est requis.
        </div>
      </div>
    </div>
    
  </div>

  <div class="text-left mt-4">
    <button type="submit" [disabled]="registerForm.invalid" class="btn btn-warning">Inscription</button>
    <p class="mt-4 mb-0">Déjà un compte? <a routerLink="/login" class="text-warning">Cliquez ici</a></p>
  </div>
</form>
