
  <div class="container-fluid p-5">
    <h1 class="text-left mb-4">Inscription</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="name" class="form-label">Nom</label>
          <input type="text" class="form-control" id="name" placeholder="nom">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="example@gmail.com">
        </div>
        <div class="mb-3">
          <label for="photo" class="form-label">Photo</label>
          <input type="file" class="form-control" id="photo">
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Adresse</label>
          <input type="text" class="form-control" id="address" placeholder="adresse">
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="phone" class="form-label">Téléphone</label>
          <input type="text" class="form-control" id="phone" placeholder="770000000">
        </div>
        <div class="mb-3">
          <label for="sector" class="form-label">Secteur d'activité</label>
          <input type="text" class="form-control" id="sector" placeholder="secteur">
        </div>
        <div class="mb-3">
          <label for="email2" class="form-label">Email</label>
          <input type="email" class="form-control" id="email2" placeholder="example@gmail.com">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" id="password" placeholder="********">
        </div>
      </div>
    </div>
    <div class="text-left mt-4">
      <button class="btn btn-warning">Inscription</button>
      <p class="mt-4 mb-0">Déjà un compte? <a routerLink="/login" class="text-warning">Cliquez ici</a></p>
    </div>
  </div>
  
