<header class="container">
    <app-header-admin></app-header-admin>
</header>

<div class="container ombre ">
    <div class="row align-items-center">
        <!-- Text Section -->
        <div class="col-md-6">
            <h2 class="text-center text-md-start">Gestion des accès et des identités</h2>
            <p class="text-center text-md-start">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
                and scrambled it to make a type specimen book. It has survived not only five centuries, but also the 
                leap into electronic typesetting.
            </p>
            <div class="d-grid gap-3">
                <button class="btn btn-custom btn-logout" routerLink="/access-users">Gestion des utilisateurs</button>
                <button class="btn btn-custom btn-logout">Gestion des rôles</button>
                <button class="btn btn-custom btn-logout">Gestion des permissions</button>
            </div>
        </div>

        <!-- Image/Icon Section -->
        <div class="col-md-6 text-center">
            <img src="../../../../assets/badge.svg" alt="Access Management Icon" class="img-fluid access-icon">
        </div>
    </div>
</div>