
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <!--Premiere Section-->
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <div class="img_titre">
          <div>
          <img src="../assets/images/Ellipse 10.jpg" alt="">
         </div>
         <div>
          <h5 class="card-title">Témoignage de serigne fallou niang - Les clés de ma réussite dans le monde l’entreprenariat</h5>
        </div>
      </div>
      <i class="fa-thin fa-quote-left"></i>
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
          </p>
          <i class="fa-thin fa-quote-right"></i>

        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <div class="img_titre">
          <div>
          <img src="../assets/images/Ellipse 10.jpg" alt="">
         </div>
         <div>
          <h5 class="card-title">Témoignage de serigne fallou niang - Les clés de ma réussite dans le monde l’entreprenariat</h5>
        </div>
      </div>
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
          </p>

        </div>
      </div>
    </div>

  </div>

  <!--Deuxième Section-->
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <div class="img_titre">
          <div>
          <img src="../assets/images/Ellipse 10.jpg" alt="">
         </div>
         <div>
          <h5 class="card-title">Témoignage de serigne fallou niang - Les clés de ma réussite dans le monde l’entreprenariat</h5>
        </div>
      </div>
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
          </p>

        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <div class="img_titre">
          <div>
          <img src="../assets/images/Ellipse 10.jpg" alt="">
         </div>
         <div>
          <h5 class="card-title">Témoignage de serigne fallou niang - Les clés de ma réussite dans le monde l’entreprenariat</h5>
        </div>
      </div>
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
          </p>

        </div>
      </div>
    </div>
  </div>

  <!--Troisieme Section-->
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <div class="img_titre">
          <div>
          <img src="../assets/images/Ellipse 10.jpg" alt="">
         </div>
         <div>
          <h5 class="card-title">Témoignage de serigne fallou niang - Les clés de ma réussite dans le monde l’entreprenariat</h5>
        </div>
      </div>
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
          </p>

        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <div class="img_titre">
          <div>
          <img src="../assets/images/Ellipse 10.jpg" alt="">
         </div>
         <div>
          <h5 class="card-title">Témoignage de serigne fallou niang - Les clés de ma réussite dans le monde l’entreprenariat</h5>
        </div>
      </div>
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
          </p>

        </div>
      </div>
    </div>
  </div>
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</body>
</html>
