
<!-- <header>
  <app-header1></app-header1>
</header> -->

  <!--Premiere Section-->
<div class="container mt-5">
  <h2>Les retours d'expérience</h2>
    <div class="row mt-3">
      <div class="col-md-6 col-lg-4 mb-4" *ngFor="let retour of retourExperience">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <!-- <img [src]="getPhotoUrl(retour.image) || '../../../../assets/avatar.png'" class="rounded-circle me-3 avatar img-fluid" alt="Avatar" width="100"> -->
                 <img *ngIf="retour.image" [src]="getPhotoUrl(retour.image)" class="rounded-circle me-3 avatar img-fluid" alt="Avatar" >
                <h5 class="card-title my-3">{{ retour.libelle }}</h5>
              </div>
              
            </div>
            <img src="../../../../assets/quote.svg" alt="">
            <p class="card-text">{{ retour.contenu }}</p>
            <img src="../../../../assets/quote2.svg" alt="" style="float: right;">
          </div>
        </div>
      </div>
    </div>
  </div>
  
<footer>
  <app-footer></app-footer>
</footer>
