<nav class="navbar navbar-expand-lg navbar-light bg-white">
  
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/Logo.svg" alt="Kaay Entreprendre Logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/dashboard-admin" routerLinkActive="active" >Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/access-admin" routerLinkActive="active">Accés et identités</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/retour-experience-admin" routerLinkActive="active">Retour d’expérience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/evenement-admin" routerLinkActive="active">Événements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="#" routerLinkActive="active">Guide</a>
          </li>
      </ul>
      <div class="d-flex">
        <button class="btn btn-custom btn-logout me-3" (click)="logout()">Déconnexion</button>
        <button class="btn btn-custom btn-profile " routerLink="/profil-admin">{{userName}}</button>
      </div>
    </div>
</nav>
