<header class="container">
    <app-header-admin></app-header-admin>
</header>
<div class="container mt-5">
    <!-- Profile Banner -->
    <div class="profile-banner text-white text-center d-flex align-items-center justify-content-center">
        <h1>Profil Admin</h1>
    </div>

    <!-- Profile Details -->
    <div class="profile-details row align-items-center mt-4">
        <div class="col-md-8">
            <h2>{{ user.name || 'Nom de l\'utilisateur' }}</h2>
            <p>
                <img src="../../../../assets/phone.svg" alt="" class="me-3">
                <span>{{ user.telephone || 'Téléphone non spécifié' }}</span>
            </p>
            <p>
                <img src="../../../../assets/mail.svg" alt="" class="me-3">
                <span>{{ user.email || 'Email non spécifié' }}</span>
            </p>
            <p>
                <img src="../../../../assets/location.svg" alt="" class="me-3">
                <span>{{ user.adresse || 'Localisation non spécifiée' }}</span>
            </p>
            
            <button class="btn btn-primary mt-5 mb-5">Modifier mes informations</button>
        </div>
        <div class="col-md-4 text-center">
            <img *ngIf="user.photo" [src]="getPhotoUrl(user.photo)" alt="Profile Picture" class="rounded-circle img-fluid profile-pic">
        </div>
    </div>
</div>
