/* Banner section */
body {
    font-family: "Poppins", sans-serif;
    color: #333;
}
.profile-banner {
    background-color: #0b2245;
    background-image: url('../../../../assets/bienvenue1.svg');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Profile Picture */
.profile-pic {
    width: 250px;
    height: 250px;
    object-fit: cover;
    /* margin-top: -70px; */
    border: 5px solid white;
}

/* Buttons */
button {
    background-color: #0b2245;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #09263a;
}

/* Text */
h2 {
    font-weight: bold;
}

p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.far, .fas {
    font-size: 1.2rem;
    margin-right: 5px;
    color: #FF8200;
}
.profile-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.profile-details h2 {
    font-size: 24px;
}
.profile-details p {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 10px;
}