<header class="container">
    <app-header-admin></app-header-admin>
</header>
<main class="container mt-4">
    <div class="row">
        <!-- Left Section (Image, Ressources, Catégories) -->
        <div class="col-lg-8 mb-4">
            <section class="mb-4">
                <div class="row">
                    <div class="col-lg-10">
                        <img src="../../../../assets/pattern3.png" class="img-fluid rounded" alt="Header Image">
                    </div>
                </div>
            </section>
        
            <div class="col-md-10">
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <div class="stat-box bg-warning text-white text-center py-4">
                            <p class="stats">{{ entrepreneurCount }}</p>
                            <p>ENTREPRENEURS</p>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="stat-box bg-dark text-white text-center py-4">
                            <p class="stats">{{ coachCount }}</p>
                            <p>COACHS</p>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="stat-box bg-dark text-white text-center py-4">
                            <p class="stats">{{ eventsCount }}</p>
                            <p>EVENEMENTS</p>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="stat-box bg-warning text-white text-center py-4">
                            <p class="stats">{{ eventsCome }}</p>
                            <p>EVENEMENTS <br> A VENIR</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Section (Événements) -->
        <div class="col-lg-4">
            <section>
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="font-weight-bold">Événements</h4>
                   <a routerLink="/evenement-admin" style="text-decoration: none; color: gray;">Voir tout</a>
                   
                </div>
                <hr class="my-5">
                
                <div class="event-card-container row ">
                    <div *ngFor="let event of events" class="col-12 col-sm-12 col-md-12 col-lg-12 mb-3">
                        <a [routerLink]="['/events-details-admin', event.id]" style="text-decoration: none;">
                            <div class="card event-card" >
                                <div class="card-body">
                                  <h5 class="card-title">{{ event.theme }}</h5>
                                  <p class="card-text">{{ event.lieu }}</p>
                                  <div class="event-details d-flex align-items-center">
                                    <img src="../../../../assets/calendar.svg" alt="Calendar icon">
                                    <div class="dates ml-2">
                                      <p>Date début: {{ event.date_debut | date:'yyyy-MM-dd HH:mm' }}</p>
                                      <p>Date fin: {{ event.date_fin | date:'yyyy-MM-dd HH:mm' }}</p>
      
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </a>
                      </div>

                    
                </div>
            </section>
        </div>
    </div>
</main>
