
    <header>
        <div class="logo-container">
<img src="assets/Logo.png" alt="Logo" class="logo">

        </div>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Ressource</a></li>
                <li><a routerLink="/evenement">Événement</a></li>
                <li><a href="#">Guide</a></li>
            </ul>
            <button class="connexion-btn" routerLink="/login">Connexion</button>
        </nav>
        <div class="hamburger-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </header>




