<router-outlet></router-outlet>
<app-header2></app-header2>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="banner">
       <iframe 
            width="100%" 
            height="315" 
            src="https://www.youtube.com/embed/zTkOR4i5kaE" 
            title="Vidéo YouTube" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
    </div>
    <section class="contenu">
        <ul>
            <li class="pre">Présentation</li>
            <li>Contenu</li>
            <p>Dans cette formation en ligne et en vidéo je vous propose un cadre et des repères pour sécuriser votre aventure freelance, vous mettre dans une bonne dynamique et répondre à vos inquiétudes.
                Dans mon parcours de créatif freelance, j'ai essuyé pas mal de plâtres et ai dû m'employer, souvent seul, pour que ça fonctionne.D'abord graphiste, puis DA, puis à la fois créatif, chef de projet, développeur commercial et manager quand mon projet s'est développé, j'ai vendu mon agence (Wow, agence vidéo/motion) en 2019 pour écrire un nouveau chapitre de ma vie professionnelle.
                Inspiré de mes échecs, de mes réussites et des leçons que j'ai tiré de mes aventures, je vous propose un tour des grandes étapes pour se lancer, de façon directe, avec mes recettes pour se développer.
                Un format que j'ai souhaité direct et efficace avec mes commentaires, des notions clés à retenir, des exemples et des récaps, pour vous approprier simplement et rapidement les clés de votre lancement.
                Au programme de ce cours  "créatif se lancer en freelance"
                Voici les notions que nous allons aborder dans la formation :
                Statut juridique,
                Objectifs,
                Environnement de travail,
                Outils de travail,
                Finances pour démarrer,
                Le bon mood,
                Développement commercial,
                Plan d’action
                A la fin de cette formation, vous connaîtrez les grandes étapes et défis qui vous attendent pour travailler à votre compte.Je reste disponible dans le salon d'entraide pour répondre à vos éventuelles questions sur ce cours.Bonne formation !
                </p>
        </ul>
    </section>
    <footer>
    <app-footer></app-footer>
    </footer>
</body>
</html>