<header class="container">
    <app-header-admin></app-header-admin>
</header>

<div class="container ">
    <div class="d-flex mb-3 users">
        <img src="../../../../assets/retour.svg" alt="" routerLink="/access-users">
    <h2 >Gestion des utilisateurs</h2>
    </div>
    <!-- Profile Banner -->
    <div class="profile-banner text-white text-center d-flex align-items-center justify-content-center">
        <h1>Profile Coach</h1>
    </div>

    <!-- Profile Details -->
    <div class="profile-details row align-items-center mt-5">
        <div class="col-md-8">
            <h2>Fatima Dansoko</h2>
            <p>
                <img src="../../../../assets/phone.svg" alt="">
                <span class="ml-2">78 103 35 01</span>
            </p>
            <p>
                <img src="../../../../assets/mail.svg" alt="">
                <span class="ml-2">fatoumatadansoko61gmail.com</span>
            </p>
            <p>
                <img src="../../../../assets/location.svg" alt="">
                    <span class="ml-2">Dakar plateau</span>
            </p>
            <p>
                <i class="bi bi-briefcase"></i> Informatiques &nbsp;&nbsp;
                <i class="bi bi-check-circle"></i> compte activé
            </p>
            <div class="mt-5 mb-5">
                <button class="btn btn-custom btn-profile me-4">Désactiver</button>
                <button class="btn btn-custom btn-logout">Activer</button>
            </div>
        </div>
        <div class="col-md-4 text-center ">
            <img src="../../../../assets/profil.png" alt="Fatima Dansoko" class="rounded-circle img-fluid profile-pic">
        </div>
    </div>
</div>