<header class="container">
    <app-header-admin></app-header-admin>
</header>

<div class="container mt-4 users">
    <div class="d-flex mb-3">
        <img src="../../../../assets/retour.svg" alt="" routerLink="/access-admin">
    <h2 >Gestion des rôles</h2>
    </div>
    
    <div class="search-bar">
        <form (ngSubmit)="onRoleSubmit()" #roleForm="ngForm">
          <input type="text" class="form-control d-inline-block" placeholder="Ajouter un rôle"
                 [(ngModel)]="newRole.name" name="name" required>
          <button type="submit" class="btn btn-ajout d-inline-block" [disabled]="!roleForm.valid">Ajouter</button>
        </form>
      </div>
      
    
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let role of roles">
                <td>{{ role.id }}</td>
                <td>{{ role.name }}</td>
                <td class="action">
                    <a routerLink="/access-users-details">
                        <button class="btn btn-permission">
                            <span class="btn-text">Octroyer des permissions</span>
                            <span class="btn-icon"><img src="../../../../assets/key.svg" alt="edit icon"></span>
                        </button>
                    </a>
                    <a routerLink="/access-users-details">
                        <button class="btn btn-custom btn-logout">
                            <span class="btn-text">Modifier</span>
                            <span class="btn-icon"><img src="../../../../assets/edit.svg" alt="edit icon"></span>
                        </button>
                    </a>

                    <button *ngIf="role.id" (click)="deleteRole(role.id)" class="btn btn-custom btn-supprimer">
                        <span class="btn-text">Supprimer</span>
                        <span class="btn-icon"><img src="../../../../assets/delete.svg" alt="delete icon"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>