@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* @font-face {font-family: 'LemonTuesday'; src:url('https://files.jcink.net/uploads/septembersunday/LemonTuesday.eot'); 
   src:url('https://files.jcink.net/uploads/septembersunday/LemonTuesday.eot?#iefix') format('embedded-opentype'),
    url('https://files.jcink.net/uploads/septembersunday/LemonTuesday.woff') format('woff'),
     url('https://files.jcink.net/uploads/septembersunday/LemonTuesday.ttf') format('truetype'), 
     url('http://https://files.jcink.net/uploads/septembersunday/LemonTuesday.svg') format('svg'); font-weight: normal; font-style: normal; } */
*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}
body{
    margin: 0;
    font-family: "Poppins";
}


.rese{
    width: 591px;
    height: 625px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
   
}



table 			      
{ 
    border-spacing: 1; 
    border-collapse: collapse; 
    background:white;
    border-radius:6px;
    overflow:hidden;
    max-width:800px; 
    width:100%;
    margin:5% auto;

    position:relative;
    
    *               { position:relative }
    
    td,th           { padding-left:8px}
  
    thead tr        { 
      height:60px;
      background:#f7f6f2;
      font-size:16px;
    }
    
    tbody tr        { height:48px; border-bottom:1px solid #F49B33 ;
      &:last-child  { border:0; }
    }
    
       td,th 					{ text-align:left;
          &.l 					{ text-align:right }
          &.c 					{ text-align:center }
          &.r 					{ text-align:center }
      }
  }
 
  



.button{
   margin:auto 100px;
   padding: 8px 15px;
 background-color: #00214A;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   position: absolute;
   font-weight: 800;
  

}
td, th {
   padding-left: 8px;
}

thead tr {
   height: 60px;
   background: #fff;
   font-size: 16px;
}

tbody tr {
   height: 48px;
   border-bottom: 1px solid #F49B33;
}

td, th {
   text-align: left;
}

td.l {
   text-align: right;
}

td.c, th.c {
   text-align: center;
}

blockquote {
   color: white;
   text-align: center;
} 
.profil-head{
   gap: 50%;
}
.profil-table {
   border: 1px solid #fff;
   padding: 15px;
   background: #ffffff6b!important;
    height:auto;
   }
.profil-head {
   flex: 1;
    align-items: center; 
     display: flex;
     flex-wrap: wrap;
      justify-content: center;
      height: 180px;
      background: #00214A; 
      background-image: url(https://www.transparenttextures.com/patterns/xv.png);  
      color: #fff;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.8); 
      font-size: 36px;
   }
   .titre{
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      color: #00214A;
      margin-top: 5%;
   }
.profil-body {
   background: #f6f6f6;
   align-items: center;
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
      border: 1px solid #D2D2D2;
       border-bottom:none;
       padding: 5px;
      }

.profil-line {
   background: #00214A; 
   line-height:60px; 
   font-family: Raleway;
   text-align:center;
    color: #fff;
     text-transform:uppercase;
      font-size:10px; 
      border:1px solid #D2D2D2;
   }
.profil-userpic {
   border:1px solid #D2D2D2;
    padding:3px;
     margin-top:5px;
     padding-bottom:0px;
   }
.profil-avatar img {
   border: 1px solid #D2D2D2;
   height:150px;
   width: 150px;
   border-radius: 100px;
   
    margin-top:5px;
     margin-bottom:5px;
   }
.profil-part {
   display:block;
   flex:1;
   background: #FBFBFB;
}
.profil-right {
   display:flex;
   flex: 1;
    align-items: center; 
     display: flex;
     flex-wrap: wrap; 
     justify-content: center;
      margin-left: -21px; 
      margin-top: -20px;
   }
.profil-infos {
   flex:2;
   background: #FFF;
   background-image: url(https://www.transparenttextures.com/patterns/xv.png);
    border: 1px solid #D2D2D2;
     border: 1px solid #D2D2D2;
      margin:50px;

      
   }
.profil-bloc {background: #fff; margin: 100px 100px 20px;border:1px solid #D2D2D2; border-bottom: none;width: 80%;}
.bloc-line {
   border-bottom: 1px solid #D2D2D2; 
   padding:14px;
    font-family: Raleway;
     color: #555;
      font-weight: 600;

        font-size: 16px;
         text-align:right;}
.bloc-line label {float:left;color: #00214A; font-weight: 600;}
.bloc-line:first-child:before  { font-family:'Poppins'; font-size:18px; color: orange; float: left; margin-right: 16px;}
.bloc-line:nth-child(2):before { font-family:'Poppins'; font-size:16px; color: orange; float: left; margin-right: 10px;}
.bloc-line:nth-child(3):before { font-family:'Poppins'; font-size:16px; color: orange; float: left; margin-right: 10px;}
.bloc-line:nth-child(4):before { font-family:'Poppins'; font-size:16px; color: orange; float: left; margin-right: 10px;}
.bloc-line:nth-child(5):before { font-family:'Poppins'; font-size:16px; color: orange; float: left; margin-right: 10px;}
.bloc-line:nth-child(6):before { font-family:'Poppins'; font-size:16px; color: orange; float: left; margin-right: 10px;}
.bloc-line:nth-child(7):before { font-family:'Poppins'; font-size:16px; color: orange; float: left; margin-right: 10px;}
.bloc-line:nth-child(8):before { font-family:'Poppins'; font-size:16px; color: orange; float: left; margin-right: 10px;}
.bloc-line:nth-child(9):before { font-family:'Poppins'; font-size:16px; color: orange; float: left; margin-right: 10px;}

@media (max-width: 768px) {
  th,td{
   font-size: 14px;
  };
  table{
   width: 95%;
  }
  .profil-infos{
   width:70%;
   margin:auto;
}
}

@media (max-width: 480px) {
th,td{
   font-size: 14px;
}
table{
   width: 95%;
}
.profil-infos{
   width: 80%;
   margin:auto;
}
}
