<app-header1></app-header1>
<div class="banner">
  <h1>mon profil</h1>
  <div class="info_profil">
  <div class="profil">
     <div class="profil2">
         <div><img src="assets/profil/Ellipse 255.png" alt=""></div>
         <div><button routerLink="/modifier-profil">modifier</button></div>
     </div>
     <div class="data">
       <div class="data1">
         <h6>PRENOM ET NOM</h6>
         <div class="info">
             <p>anna marone</p>
            
         </div>
         <h6>EMAIL</h6>
         <div class="info">
             <p>annamarone14gmail</p> 
         </div>
         <h6>TÉLÉPHONE</h6>
         <div class="info">
             <p>77777777777</p>
         </div>
       </div>
     </div>
  </div>
  <div class="rese">
     <div class="titre">Liste reservation</div>
     <div class="listep"></div>
     <div class="table">
         <table>
             <thead>
               <tr>
                 <th>numero</th>
                 <th>Date</th>
                 <th>evénement</th>
                 <th>action</th>
               </tr>
             </thead>
             <tbody>
               <tr>
                 <td>7</td>
                 <td>20/03/204</td>
                 <td>Conférence </td>
                 <td><img src="assets/détail/Vector (1).png" alt=""></td>
               </tr>
               <tr>
                 <td>7</td>
                 <td>20/03/204</td>
                 <td>Conférence </td>
                 <td><img src="assets/détail/Vector (1).png" alt=""></td>
               </tr>
              
             </tbody>
         </table>
            
           <blockquote> Responsive Table </blockquote>
     </div>
  </div>
  </div>
    </div>
    <footer>
     <app-footer></app-footer>
    </footer>
  