<header class="container">
    <app-header-admin></app-header-admin>
</header>

<div class="container mt-4 users">
    <div class="d-flex mb-3">
        <img src="../../../../assets/retour.svg" alt="" routerLink="/access-admin">
    <h2 >Gestion des utilisateurs</h2>
    </div>
    <div class="search-bar">
        <div class="alert alert-success" style="display: none;">Status message goes here</div>
        <input type="text" class="form-control d-inline-block" placeholder="Rechercher par mail">
        <button class="btn btn-ajout d-inline-block">Rechercher</button>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="responsive-mobile">Id</th>
                <th class="responsive-mobile">Nom complet</th>
                <th>Adresse email</th>
                <th>Rôles</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i = index">
                <td class="responsive-mobile">{{ i + 1 }}</td>
                <td class="responsive-mobile">{{ user.name }}</td>
                <td><a href="#">{{ user.email }}</a></td>
                <td>
                    <span>
                      <label class="badge mx-1 text-white"
                             style="border: 1px solid #FF8200; background:#FF8200; color: white; font-weight:500; padding:2px 5px">
                        {{ getRoleName(user) }}
                      </label>
                    </span>
                  </td>
                  <td class="action">
                    <!-- View Button -->
                    <a [routerLink]="['/access-users-details', user.id]">
                      <button class="btn btn-custom btn-logout">
                        <span class="btn-text">Voir</span>
                        <span class="btn-icon"><img src="../../../../assets/eye1.svg" alt="edit icon"></span>
                      </button>
                    </a>
                  
                    <!-- Delete Button -->
                    <!-- Delete Button -->
                    <button *ngIf="user.id" (click)="deleteUser(user.id)" class="btn btn-custom btn-supprimer">
                        <span class="btn-text">Bannir</span>
                        <span class="btn-icon"><img src="../../../../assets/delete.svg" alt="delete icon"></span>
                      </button>
                      
                      

                      
                      
                  </td>
                  
              </tr>
              
            <!-- Repeat for more users -->
        </tbody>
    </table>
</div>
