<header class="container">
    <app-header-coach></app-header-coach>
</header>
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 d-none d-lg-block mt-4 ml-5">
        <img src="../../../../assets/bienvenue.png" alt="Bienvenue" class="img-fluid">
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="container form-container">
            <h1>{{ isEditMode ? 'Modifier la ressource' : 'Ajouter une ressource' }}</h1>
            <form [formGroup]="ressourceForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="titre">Titre</label>
                <input type="text" class="form-control" id="titre" formControlName="titre">
                <span *ngIf="ressourceForm.get('titre')!.invalid && ressourceForm.get('titre')!.touched" class="invalid-feedback" role="alert">
                  <strong>Erreur pour le titre</strong>
                </span>
              </div>
            </div>
  
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="category">Catégorie</label>
                <select class="form-control" id="category" formControlName="categorie_id">
                  <option value="">Sélectionnez une catégorie</option>
                  <option *ngFor="let categorie of categories" [value]="categorie.id">{{ categorie.titre }}</option>
                </select>
                <span *ngIf="ressourceForm.get('categorie_id')!.invalid && ressourceForm.get('categorie_id')!.touched" class="invalid-feedback" role="alert">
                  <strong>Erreur pour la sélection de la catégorie</strong>
                </span>
              </div>
            </div>
  
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" id="description" formControlName="description" rows="5"></textarea>
              <span *ngIf="ressourceForm.get('description')!.invalid && ressourceForm.get('description')!.touched" class="invalid-feedback" role="alert">
                <strong>Erreur pour la description</strong>
              </span>
            </div>
  
            <div class="form-group">
              <label for="contenu">Contenu</label>
              <input type="file" class="form-control-file" id="contenu" (change)="onFileChange($event, 'contenu')">
              <span class="invalid-feedback d-none" role="alert">
                <strong>Erreur pour le contenu</strong>
              </span>
            </div>
  
            <div class="form-group">
              <label for="image">Image</label>
              <input type="file" class="form-control-file" id="image" (change)="onFileChange($event, 'image')">
              <span class="invalid-feedback d-none" role="alert">
                <strong>Erreur pour l'image</strong>
              </span>
            </div>
  
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn evenement">{{ isEditMode ? 'Modifier' : 'Ajouter' }}</button>
                <a routerLink="/ressources-coach" class="btn btn-annuler">Annuler</a>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
