<div class="container event-section mt-5">
  <div class="event-image-container">
    <!-- Utilisation de la méthode pour obtenir le chemin dynamique -->
    <img *ngIf="evenementDetails?.image" [src]="getPhotoUrl(evenementDetails?.image??'')" alt="Event Image" class="event-image">
    <div class="event-category">Digitale</div>
  </div>
  
  <div class="event-details">
    <h3>Détails sur l'événement</h3>
    <p><strong>Thème :</strong> {{ evenementDetails?.theme }}</p>
    <p><strong>Description :</strong> {{ evenementDetails?.description }}</p>
    <p><strong>Nombre de places :</strong> {{ evenementDetails?.nombre_places }}</p>
    <p><strong>Gratuit</strong></p>
  </div>

  <div class="reserve-section">
    <button class="reserve-btn">Réserver</button>
    <img src="assets/images/Group.png" alt="Small Image" class="small-image">
  </div>
</div>
