body {
    width: 100%;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
}

/* Cartes d'événements */
.card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px; /* Coins arrondis */
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.card-img-top {
    border-radius: 10px 10px 0 0; /* Coins arrondis pour l'image */
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem; /* Espacement du contenu */
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.badge {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 10rem;
    border: none;
    font-weight: 400;
}

.activity-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #051D30;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.orange {
    background-color: #e2e6ea;
}

.text-dark {
    background-color: #fce6ce;
    color: #fff;
}

.card {
    height: 100%;
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text {
    flex-grow: 1;
}

.d-flex a {
    text-decoration: none;
}
/* Boutons et autres styles */
.button-banner {
    background-color: #fff;
}
.btn-light {
    background-color: #f8f9fa;
    color: #212529;
}
.btn-light:hover {
    background-color: #e2e6ea;
    color: #212529;
}
.filter-sidebar {
    font-family: "Montserrat", sans-serif;
    position: sticky;
    top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.btn-custom {
    color: white;
    font-weight: 500px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-profile {
    background-color: #00214a;
    border-color: #00214a;
    width: 109px;
    height: 29px;
    
}
.btn-logout {
    background-color: #ff9700;
    border-color: #ff9700;
    
}

@media (max-width: 768px) {
    .banniere  {
        height: 40vh;
    }
}