<header class="container">
    <app-header-coach></app-header-coach>
</header>
<section class="ressources container mt-5">
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="filter-sidebar">
                <h5>Filtrer par catégorie</h5>
                <form action="#">
                    <div class="form-group">
                        <label for="activity_area">Sélectionner une catégorie</label>
                        <select class="form-control" id="activity_area" name="activity_area">
                            <!-- Exemple de valeurs statiques -->
                            <option value="Activité 1">Activité 1</option>
                            <option value="Activité 2">Activité 2</option>
                            <option value="Activité 3">Activité 3</option>
                        </select>
                    </div>
                    <button class="btn btn-custom btn-profile">Filtrer</button>
                </form>
            </div>
            <button class="btn btn-custom btn-logout me-3 mb-3" routerLink="/ressource-form">Ajouter une ressource</button>
            
            
            
        </div>
        
    
        <div class="col-md-9">
            <div class="row">
              <div *ngFor="let ressource of ressources" class="col-md-4 mb-4">
                <div class="card mb-4">
                  <img *ngIf="ressource.image" [src]="getPhotoUrl(ressource.image)" [alt]="ressource.titre" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">{{ ressource.titre }}</h5>
                    <p class="card-text">{{ ressource.description | slice:0:50 }}</p>
                    <div class="d-flex justify-content-between">
                      <!-- Utilisez category_id pour trouver le titre -->
                      <button class="badge text-dark">
                        {{ ressource.categorie_id ? getCategoryTitle(ressource.categorie_id) : 'Catégorie inconnue' }}
                      </button>
                      
                      <a [routerLink]="['/ressource-details', ressource.id]" class="badge text-dark">Voir Détails</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
          
          
          
        
    </div>
</section>


