
<header>
  <app-header1></app-header1>
</header>

<div class="container mt-5">
 
  <h2>Les retours d'expérience</h2>
  <div class="row mt-3">
      <div class="col-md-6 col-lg-4 mb-4">
          <div class="card">
              <div class="card-body">
                  <div class="d-flex justify-content-between">
                      <div>
                          <img src="../../../../assets/avatar.png" class="rounded-circle me-3 avatar" alt="Avatar" width="100">
                          <h5 class="card-title my-3">Témoignage de serigne fallou niang - Les clés de ma réussite dans le monde l'entreprenariat</h5>
                      </div>
                      <div class="d-flex">
                          <button class="btn btn-sm"><img src="../../../../assets/edit.svg" alt=""></button>
                          <button class="btn btn-sm"><img src="../../../../assets/delete.svg" alt=""></button>
                      </div>
                  </div>
                  <img src="../../../../assets/quote.svg" alt="">
                      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
                      </p>
                  
                 <img src="../../../../assets/quote2.svg" alt="" style="float: right;">
              </div>
          </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
          <div class="card">
              <div class="card-body">
                  <div class="d-flex justify-content-between">
                      <div>
                          <img src="../../../../assets/avatar.png" class="rounded-circle me-3 avatar" alt="Avatar" width="100">
                          <h5 class="card-title my-3">Témoignage de serigne fallou niang - Les clés de ma réussite dans le monde l'entreprenariat</h5>
                      </div>
                      <div class="d-flex">
                          <button class="btn btn-sm"><img src="../../../../assets/edit.svg" alt=""></button>
                          <button class="btn btn-sm"><img src="../../../../assets/delete.svg" alt=""></button>
                      </div>
                  </div>
                  <img src="../../../../assets/quote.svg" alt="">
                      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
                      </p>
                  
                 <img src="../../../../assets/quote2.svg" alt="" style="float: right;">
              </div>
          </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
          <div class="card">
              <div class="card-body">
                  <div class="d-flex justify-content-between">
                      <div>
                          <img src="../../../../assets/avatar.png" class="rounded-circle me-3 avatar" alt="Avatar" width="100">
                          <h5 class="card-title my-3">Témoignage de serigne fallou niang - Les clés de ma réussite dans le monde l'entreprenariat</h5>
                      </div>
                      <div class="d-flex">
                          <button class="btn btn-sm"><img src="../../../../assets/edit.svg" alt=""></button>
                          <button class="btn btn-sm"><img src="../../../../assets/delete.svg" alt=""></button>
                      </div>
                  </div>
                  <img src="../../../../assets/quote.svg" alt="">
                      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
                      </p>
                  
                 <img src="../../../../assets/quote2.svg" alt="" style="float: right;">
              </div>
          </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
          <div class="card">
              <div class="card-body">
                  <div class="d-flex justify-content-between">
                      <div>
                          <img src="../../../../assets/avatar.png" class="rounded-circle me-3 avatar" alt="Avatar" width="100">
                          <h5 class="card-title my-3">Témoignage de serigne fallou niang - Les clés de ma réussite dans le monde l'entreprenariat</h5>
                      </div>
                      <div class="d-flex">
                          <button class="btn btn-sm"><img src="../../../../assets/edit.svg" alt=""></button>
                          <button class="btn btn-sm"><img src="../../../../assets/delete.svg" alt=""></button>
                      </div>
                  </div>
                  <img src="../../../../assets/quote.svg" alt="">
                      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
                      </p>
                  
                 <img src="../../../../assets/quote2.svg" alt="" style="float: right;">
              </div>
          </div>
      </div>
      <!-- Repeat the above block for each card -->
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>
