<app-header1></app-header1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="banner">
<h1>Mon profil</h1>
    </div>
    <div class="formulaire">
        <form (ngSubmit)="updateProfil()" #profileFrom="ngForm">
            <div class="nom-prenom">
                <div class="mid">
                    <label for="Nom">Nom</label>
                    <input type="text" id="name" [(ngModel)]="userProfil.name" name="name" required>
                </div>
                <div class="mid">
                    <label for="Email">Email</label>
                    <input type="email" id="email" [(ngModel)]="userProfil.email" name="email" required>
                </div>
                </div>
          
    
            <div class="full">
                <label for="Profil">Profil</label>
                <input type="file" id="photo" [(ngModel)]="userProfil.photo" name="photo">
            </div>

            <div class="full">
                <label for="adresse">Adresse</label>
                <input type="text" id="adresse" [(ngModel)]="userProfil.adresse" name="adresse">
            </div>

            <div class="full">
                <label for="Télephone">Télephone</label>
                <input type="text" id="telephone" [(ngModel)]="userProfil.telephone" name="telephone">
            </div>
            <div class="full">
                <label for="cv">cv</label>
                <input type="file" id="cv" [(ngModel)]="userProfil.cv" name="cv">
            </div>
            <div class="full">
                <label for="secteur d'activité">secteur d'activité</label>
                <input type="number" id="secteur_activite_id" [(ngModel)]="userProfil.secteur_activite_id" name="secteur_activite_id">
            </div>
    
            <div class="submit">
                <input class="send-btn" type="submit">
            </div>
    
        </form>
    </div>
    <footer>
        <app-footer></app-footer>
    </footer>
</body>
</html>