<app-header1></app-header1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="banner">
<h1>Mon profil</h1>
    </div>
    <div class="formulaire">
        <form method="" action="">
            <div class="nom-prenom">
                <div class="mid">
                    <label for="Nom">Nom</label>
                    <input type="text" placeholder="Nom">
                </div>
    
                <div class="mid">
                    <label for="Prenom">Prenom</label>
                    <input type="text" placeholder="Prénom">
                </div>
            </div>
    
            <div class="full">
                <label for="Email">Email</label>
                <input type="text" placeholder="E-mail">
            </div>
    
            <div class="full">
                <label for="Télephone">Télephone</label>
                <input type="text" placeholder="Téléphone">
            </div>
    
            <div class="full">
                <label for="secteur d'activité">secteur d'activité</label>
                <input type="text" placeholder="secteur d’activité">
            </div>
    
            <div class="submit">
                <input class="send-btn" type="submit">
            </div>
    
        </form>
    </div>
    <footer>
        <app-footer></app-footer>
    </footer>
</body>
</html>