<header class="container">
    <app-header-coach></app-header-coach>
</header>
<section class="ressources container mt-5">
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="filter-sidebar">
                <h5>Filtrer par thématique</h5>
                <form action="#">
                    <div class="form-group">
                        <label for="activity_area">Sélectionner une catégorie</label>
                        <select class="form-control" id="activity_area" name="activity_area">
                            <!-- Exemple de valeurs statiques -->
                            <option value="Activité 1">theme 1</option>
                            <option value="theme 2">theme 2</option>
                            <option value="theme 3">Activité 3</option>
                        </select>
                    </div>
                    <button class="btn btn-custom btn-profile">Filtrer</button>
                </form>
            </div>
            
            
            
        </div>
        
    
        <div class="col-md-9 ">
            <div class="row">
                <!-- Loop through events dynamically and filter by search query -->
                <div class="col-md-4 mb-4" *ngFor="let event of events ">
                    <div class="card mb-4">
                        

                        <img *ngIf="event.image" [src]="getPhotoUrl(event.image)" [alt]="event.theme" class="card-img-top">

                        
                        <div class="card-body">
                            <h5 class="card-title">{{event.theme}}</h5>
                            <p class="card-text">{{event.description}}</p>
                            <div class="d-flex justify-content-between">
                                <button class="badge text-dark">{{event.nombre_places}} places</button>
                                <a [routerLink]="['/events-details-coach', event.id]" class="badge text-dark">Voir Détails</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>