@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
   margin: 0;
   box-sizing: border-box;
}


body {
   margin: 0;
   font-family: 'Poppins';
}


.banner {
   margin-top: 10px;
   width: 80%;
   height: 350px;
   background-image: url("/assets/détail/pattern1.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: space-between;
   margin: 5% auto;
   gap: 10%;
}


.banner img {
   width: 100%;
   max-width: 900px;
   height: auto;
   border-radius: 8px;
}


.banner h1 {
   font-size: 30px;
   margin: auto;
   margin-left: 10px;
}


.contenu {
   margin: auto;
   width: 80%;
}


.contenu h1 {
   font-size: 30px;
   margin: 10px;
}


.contenu h6 {
   font-size: 18px;
}


.contenu hr {
   border: 2px dotted #00214A;
}


.contenu p {
   width: 100%;
   max-width: 1000px; /* Ajustez selon vos besoins */
   height: auto;
   margin: 10px auto;
   overflow-y: auto;
}


.contenu img {
   float: right;
   width: 158px;
   height: auto;
}


footer {
   margin-top: 15%;
}


/* Media Queries pour les écrans moyens (tablettes) */
@media screen and (max-width: 768px) {
   .banner {
       width: 90%;
       height: auto;
       flex-direction: column;
       gap: 5%;
   }


   .banner img {
       width: 80%;
   }


   .banner h1 {
       font-size: 24px;
   }


   .contenu {
       width: 90%;
   }


   .contenu h1 {
       font-size: 24px;
   }


   .contenu p {
       max-height: 400px;
       width: 100%;
   }
}


/* Media Queries pour les petits écrans (smartphones) */
@media screen and (max-width: 390px) {
   .banner {
       width: 90%;
       height: auto;
       flex-direction: column;
       gap: 5%;
   }


   .banner img {
       width: 100%;
       height: auto;
   }


   .banner h1 {
       font-size: 18px;
       margin-left: 10px;
   }


   .contenu h1 {
       font-size: 18px;
   }


   .contenu p {
       max-height: 300px;
       width: 100%;
   }


   .contenu img {
       width: 108px;
       height: auto;
       margin-bottom: 10%;
   }


   footer {
       margin-top: 30%;
   }
}
