
<app-header1></app-header1>

    <div  *ngIf="ressource" class="banner">
        <div>
          <img [src]="ressource.image" alt="{{ ressource.titre }}" />
        </div>
        <div>
            <h2>{{  ressource.description  }}</h2>
        </div>
       
          
    </div>
    <section class="contenu">
<p>{{ ressource.titre }}</p>
<hr>
<p><p>{{ ressource.contenu }}</p>
    <hr>
    <button (click)="generatePDF()"><img src="assets/détail/Rectangle 6.png" alt=""></button>

    
    </section>
    <footer>
        <app-footer></app-footer>
    </footer>

