<router-outlet></router-outlet>
<app-header1></app-header1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="banner">
<div class="description">
    <h1>Avec Kaay Entreprendre</h1>
    <h4>Du rêve à la réalité, nous guidons les entrepreneurs novices vers le succès</h4>
    <p>Vous avez une idée brillante et aspirez à la concrétiser ? Vous êtes au bon endroit !
        Kaay Entreprendre est là pour vous accompagner à chaque étape de votre voyage entrepreneurial.</p>
    <button>En savoire plus <i class="fa-solid fa-arrow-right fa-lg"  style="color: #FFFF;"></i></button>
</div>
<div class="image">
    <img src="assets/accueil/banner.png" alt="Logo">
</div>
   </div>
   <section class="section1">
<div class="apropos">
    <h1>a propos de nous</h1>
    <hr>
    <p>"Kaay Entreprendre" est une nouvelle initiative passionnée par l'entrepreneuriat et dédiée à l'éducation, l'accompagnement et l'inspiration des entrepreneurs débutants. Notre histoire est récente, mais notre engagement à soutenir les rêves entrepreneuriaux est profondément enraciné. Notre ambition est de devenir un pilier dans l'écosystème entrepreneurial en fournissant des ressources de qualité, des outils pratiques et un soutien personnalisé pour aider chaque entrepreneur à commencer son parcours avec confiance. Rejoignez-nous pour explorer un avenir entrepreneurial brillant, durable et inclusif."
    </p>
    <button>En savoire plus <i class="fa-solid fa-arrow-right fa-lg"  style="color: #FFFF;"></i></button>
</div>
   </section>
</body>
</html>