<router-outlet></router-outlet>
<app-header1></app-header1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="banner">
<div class="description">
    <h1>Avec Kaay Entreprendre</h1>
    <h4>Du rêve à la réalité, nous guidons les entrepreneurs novices vers le succès</h4>
    <p>Vous avez une idée brillante et aspirez à la concrétiser ? Vous êtes au bon endroit !
        Kaay Entreprendre est là pour vous accompagner à chaque étape de votre voyage entrepreneurial.</p>
    <button>En savoire plus <i class="fa-solid fa-arrow-right fa-lg"  style="color: #FFFF;"></i></button>
</div>
<div class="image">
    <img src="assets/accueil/banner.png" alt="Logo">
</div>
   </div>
   <section class="section1">
<div class="apropos">
    <h1>a propos de nous</h1>
    <hr>
    <p>"Kaay Entreprendre" est une nouvelle initiative passionnée par l'entrepreneuriat et dédiée à l'éducation, l'accompagnement et l'inspiration des entrepreneurs débutants. Notre histoire est récente, mais notre engagement à soutenir les rêves entrepreneuriaux est profondément enraciné. Notre ambition est de devenir un pilier dans l'écosystème entrepreneurial en fournissant des ressources de qualité, des outils pratiques et un soutien personnalisé pour aider chaque entrepreneur à commencer son parcours avec confiance. Rejoignez-nous pour explorer un avenir entrepreneurial brillant, durable et inclusif."
    </p>
    <button>En savoire plus <i class="fa-solid fa-arrow-right fa-lg"  style="color: #FFFF;"></i></button>
</div>
   </section>
   <section class="section2">
<div class="apropos2">
    <div class="carte">
        <h3>Notre mission</h3>
        <p>Nous voulons être votre partenaire dans le succès entrepreneurial. Chez kaay Entreprendre, nous nous sommes engagés à éduquer, à accompagner et à inspirer les entrepreneurs de tous niveaux, des novices aux experts. Nous croyons en la puissance de l'apprentissage continu, de la collaboration et de l'inclusion pour propulser les rêves d'entreprise vers la réalité.</p>
    </div>
    <div class="carte">
        <h3>notre engagement</h3>
        <p>Notre engagement envers nos utilisateurs est inébranlable. Nous nous efforçons de fournir des ressources de qualité, des outils pratiques et un soutien personnalisé pour vous aider à atteindre vos objectifs entrepreneuriaux. Nous sommes là à chaque étape de votre parcours, de l'idée initiale à la croissance de votre entreprise.</p>
    </div>
    <div class="carte">
        <h3>nos valeurs</h3>
        <p>Chez Kaay entreprendre, nous sommes guidés par des valeurs fondamentales telles que l'intégrité, la transparence, la responsabilité sociale et environnementale. Nous valorisons la diversité des idées et des perspectives, et nous croyons en l'importance de créer une communauté entrepreneuriale inclusive où chaque voix compte.</p>
    </div>
</div>
   </section>
   <!-- section nos service -->
    <section class="section3">
        <h1>NOS SERVICES</h1>
        <div class="hr"></div>
<div class="nos_service">
<div class="carteService">
    <div class="bartop"></div>
    <div>
        <img src="assets/accueil/icone1.png" alt="">
        <h3>accompagnement personnaliser</h3>
        <p>Chez "Kaay Entreprendre", votre réussite entrepreneuriale est notre priorité numéro un. Notre équipe est dévouée à vous aider à concrétiser vos idées, à développer votre entreprise et à accomplir vos rêves.  Notre plateforme est là pour vous guider, vous conseiller et vous soutenir à chaque étape de votre aventure entrepreneuriale.</p>
    </div>
    <div class="barbut"></div>
</div>
<div class="carteService">
    <div class="bartop"></div>
    <div>
        <img src="assets/accueil/icone2.png" alt="">
        <h3>accompagnement personnaliser</h3>
        <p>Chez "Kaay Entreprendre", votre réussite entrepreneuriale est notre priorité numéro un. Notre équipe est dévouée à vous aider à concrétiser vos idées, à développer votre entreprise et à accomplir vos rêves.  Notre plateforme est là pour vous guider, vous conseiller et vous soutenir à chaque étape de votre aventure entrepreneuriale.</p>
    </div>
    <div class="barbut"></div>
</div>
<div class="carteService">
    <div class="bartop"></div>
    <div>
        <img src="assets/accueil/icone3.png" alt="">
        <h3>accompagnement personnaliser</h3>
        <p>Chez "Kaay Entreprendre", votre réussite entrepreneuriale est notre priorité numéro un. Notre équipe est dévouée à vous aider à concrétiser vos idées, à développer votre entreprise et à accomplir vos rêves.  Notre plateforme est là pour vous guider, vous conseiller et vous soutenir à chaque étape de votre aventure entrepreneuriale.</p>
    </div>
    <div class="barbut"></div>
</div>

</div>
    </section>
    <!-- section Retour expérience -->
    <section class="section4">
       
<div class="sectionRetour">
  
<div class="retour">
    <h1>Retour expérience</h1>
    <div class="hr"></div>

<div class="carteEx">

    <p>Chez Kaay Entreprendre, nous croyons fermement que chaque expérience est une opportunité d'apprendre et de grandir. Notre plateforme offre un processus structuré de retour d'expérience pour aider les entrepreneurs à tirer des enseignements précieux de leurs projets et initiatives.Voici ce que vous pouvez attendre de notre service de retour d'expérience :</p>
    <div>
        <ul>
            <li> <img src="assets/accueil/Arrow - Right 2.png">Évaluation Complète</li>
            <li><img src="assets/accueil/Arrow - Right 2.png">Réflexion Guidée</li>
            <li><img src="assets/accueil/Arrow - Right 2.png">Retour Constructif</li>
            <li><img src="assets/accueil/Arrow - Right 2.png">Plan d'Action Personnalisé</li>
            <li><img src="assets/accueil/Arrow - Right 2.png">Accès aux Ressources et Outils</li>
            <li><img src="assets/accueil/Arrow - Right 2.png">Suivi et Soutien Continu</li>
        </ul>
    </div>
    <button>En savoire plus <i class="fa-solid fa-arrow-right fa-lg"  style="color: #FFFF;"></i></button>
</div>
</div>
      <div class="comment">
        <ul class="cards">
  
            <li class="card">
              <h3>Comment Card 1 </h3>
              
              <p>Lorem ipsum dolor sit amet, Vestibulum nunc massa, gravida quis <br> porta necLorem ipsum dolor sit amet, Vestibulum nunc massa, gravida quis porta nec</p>
            </li>
            <li class="card">
              <h3>Comment Card 2 </h3>
          
              <p>Lorem ipsum dolor sit amet, Vestibulum nunc massa, gravida quis porta nec <br>Lorem ipsum dolor sit amet, Vestibulum nunc massa, gravida quis porta nec</p>
            </li>
            <li class="card">
              <h3>Comment Card 3</h3>
              <p>Lorem ipsum dolor sit amet, Vestibulum nunc massa, gravida quis porta nec <br>Lorem ipsum dolor sit amet, Vestibulum nunc massa, gravida quis porta nec</p>
            </li>
            <li class="card">
              <h3>Comment Card 4</h3>
              <p>Lorem ipsum dolor sit amet, Vestibulum nunc massa, gravida quis porta nec <br>Lorem ipsum dolor sit amet, Vestibulum nunc massa, gravida quis porta nec</p>
            </li>
          </ul>
    </div>
</div>
    </section>
    <section class="section5">
        <h1>CONTACT</h1>
        <div class="hr"></div>
        <div class="contact">
          
<div class="font_blanc">
    <div class="bac">
    <div class="info">
        <h3>Entrer en contact</h3>
        <p>Nous sommes là pour vous ! Comment pouvons-nous vous aider ?</p>
        <form action="">
            <input type="text" placeholder="Entrez votre nom"><br>
            <input type="text" placeholder="Entrez votre adresse email"><br>
            <textarea name="" id="" placeholder="Allez-y, nous vous écoutons..."></textarea><br>
            <button type="submit">envoyer</button>
        </form>
    </div>
    <div class="contactlink">
        <img src="assets/accueil/imagecontact.png">
       
        <p>  <img src="assets/accueil/loc.png">Sénégal,Dakar</p>
        <p>  <img src="assets/accueil/contact.png">979-988-89787</p>
        <p>  <img src="assets/accueil/email.png">kaayentreprendre4gmail.com</p>
    </div>
    <div class="icone">
        <img src="assets/accueil/facebook.png">
        <img src="assets/accueil/twitter.png">
        <img src="assets/accueil/linkeding.png">
    </div>
</div>
</div>
</div>
    </section>
    <section>
        <footer>
            
        </footer>
    </section>
</body>
</html>