@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    font-family: Poppins, sans-serif;
}
.banner{
    width: 100%;
    display: flex;
    margin-top: 2%;
    align-items: center;
    justify-content: space-between;
    height: 745px;
    
}
.description{
    width: 545px;
    height: 497px;
   padding-left: 10px;
   margin: auto;
    
}
.description h1{
 font-size: 30px;
 font-weight: bold;
 color: #00214A;
 margin: 10px;
 
}
.description h4{
    font-size: 22px;
  font-weight: 600;
   color: black;
   margin: 10px;
    
   }
   .description P{
    font-size: 18px;
     width: 390px;
     margin: 10px;
   }
   .description button{
   background-color: #FF9700;
   width: 200px;
   height: 50px;
   border-radius: 10px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: bold;
   margin: 10px;
    
   }
   .image{
   display: flex;
   height: 827;
   }
   .section1{
    background-image: url("/assets/accueil/section2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
     margin: auto;
     margin-top: -10%;
    height: 801px;

   }
   .apropos{
    width: 510px;
    height: 527px;
  padding-top: 15%;
  margin: 10%;
   }
   .apropos button{
    background-color: #FF9700;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
   }
   .apropos h1{
   font-size: 40px;
   font-weight: bold;
   color: #00214A;
   margin: 10px;
   }
   .apropos hr{
   background-color: #050708;
   color: #00214A;
    width: 137px;
    height: 5px;
    margin: 10px;
    }

   @media screen and (max-width: 390px) {
    .image{
        display: none;
       }
     
    .description{
        width: 381px;
        height: 302px;
        margin-left: 0%;
        align-items: center;
        background-color: #00214A;
        margin-top: -100%;

    }
    .description h1{
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        
       }
       .description h4{
           font-size: 16px;
         font-weight: 600;
          text-align: center;
           
          }
          .description P{
           font-size: 14px;
            text-align: center;
            width: 370px;
          }
          .description button{
            background-color: #FF9700;
            width: 180px;
            height: 50px;
            border-radius: 10px;
            border: none;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            margin: 0px;
            align-items: center;
            display: flex;
            justify-content: center;
             
            }
          
            .banner{
             margin-top: auto;
            }
}