<header class="container">
  <app-header-admin></app-header-admin>
</header>
<div class="container">
  <div class="mb-4">
    <a routerLink="/evenement-admin" class="btn btn-dark">Retour</a>
  </div>
  <div class="banniere mb-4 position-relative">
    <img
      *ngIf="event.image"
      [src]="getPhotoUrl(event.image)"
      alt="Banner Image"
      class="img-fluid"
    />
    <button 
    class="btn btn-modifier center-btn" 
    [routerLink]="['/modification-evenement', event.id]"
  >
    Modifier
  </button>
  
  </div>

  <div class="row content">
    <div class="col-md-8">
      <h3>{{ event.theme }}</h3>
      <p>{{ event.description }}</p>
      <div class="col-md-6">
        <div class="info-item">
          <img src="../../../../assets/location.svg" alt="" class="me-3" />
          <span class="titre">{{ event.lieu }}</span>
        </div>
        <!-- <div class="info-item">
                    <img src="../../../../assets/phone.svg" alt="" class="me-3">
                    <span class="titre">{{event.telephone}}</span>
                </div> -->
        <div class="info-item">
          <img src="../../../../assets/calendar1.svg" class="me-3" alt="" />
          <span class="titre"
            >{{ event.date_debut | date : "dd/MM/yyyy" }} -
            {{ event.date_fin | date : "dd/MM/yyyy" }}
          </span>
        </div>

        <div class="info-item">
          <img src="../../../../assets/payment.svg" class="me-3" alt="" />
          <span class="titre">{{ event.prix }} FCFA</span>
        </div>
        <div class="info-item">
          <img src="../../../../assets/places.svg" class="me-3" alt="" />
          <span class="titre">{{ event.nombre_places }} places</span>
        </div>
      </div>
    </div>
    <div class="col-md-4 participants-table">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nom complet</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody *ngIf="reservation.length > 0">
            <tr *ngFor="let item of reservation">
              <td>{{ item.user.name }}</td>
              <td class="table-actions">
                <ng-container *ngIf="item.status !== 'accepte'; else acceptedTemplate">
                  <img
                    src="../../../../assets/check.svg"
                    class="me-3"
                    alt="Approve"
                    (click)="approveReservation(item.id)"
                    style="cursor: pointer;"
                  />
                  <img
                    src="../../../../assets/cancel.svg"
                    class="me-3"
                    alt="Reject"
                    (click)="rejectReservation(item.id)"
                    style="cursor: pointer;"
                  />
                </ng-container>
                <ng-template #acceptedTemplate>
                  <span>Accepté</span>
                </ng-template>
              </td>
            </tr>
            
          </tbody>
          <tfoot *ngIf="reservation.length === 0">
            <tr>
              <td colspan="2">Aucune réservation trouvée.</td>
            </tr>
          </tfoot>
        </table>
        <div class="voir-tous">
          <a routerLink="/reservations">Voir tous</a>
        </div>
      </div>
      
  </div>
</div>
