<header>
    <app-header1></app-header1>
</header>
    <!-- Section avec image de fond -->
    <div class="events-section">
        <div class="container mt-5">
            <div class="header-section">
                <h1>Les événements</h1>
                <p>Les événements qui vont vous permettre d'accélérer votre processus entrepreneurial</p>
            <!-- Conteneur pour la barre de recherche -->
            <div class="search-container">
                <input type="text" class="form-control mx-auto" placeholder="Search" aria-label="Search">
            </div>            </div>
            
            <div class="row">
                <!-- Première carte -->
                <div class="col-md-4" routerLink="/detail_evenement">
                    <div class="card card-event">
                        <img src="assets/images/image25.png" class="card-img-top" alt="Image d'événement">
                        <div class="card-body">
                            <p class="event-category">Entrepreneuriat</p>
                            <div class="d-flex align-items-center">
                                <h5 class="card-title">Semaine de l'entrepreneuriat</h5>
                            </div>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pharetra vitae urna auctor efficitur.</p>
                            <div class="event-info">
                                <img src="assets/images/image25.png" alt="Profil DER">
                                <div>
                                    <p class="mb-0">DER</p>
                                    <p class="event-date">20 Jan 2024</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Deuxième carte -->
                <div class="col-md-4">
                    <div class="card card-event">
                        <img src="assets/images/image25.png" class="card-img-top" alt="Image d'événement">
                        <div class="card-body">
                            <p class="event-category">Entrepreneuriat</p>
                            <div class="d-flex align-items-center">
                                <h5 class="card-title">Entrepreneuriat féminin</h5>
                            </div>
                            <p class="card-text">Linear helps streamline software projects, sprints, tasks, and bug tracking.</p>
                            <div class="event-info">
                                <img src="assets/images/image25.png" alt="Profil Women in Africa">
                                <div>
                                    <p class="mb-0">Women in Africa</p>
                                    <p class="event-date">19 Jan 2024</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Troisième carte -->
                <div class="col-md-4">
                    <div class="card card-event">
                        <img src="assets/images/image25.png" class="card-img-top" alt="Image d'événement">
                        <div class="card-body">
                            <p class="event-category">Digital</p>
                            <div class="d-flex align-items-center">
                                <h5 class="card-title">Les outils digitaux</h5>
                            </div>
                            <p class="card-text">The rise of RESTful APIs has been met by a rise in tools for creating, testing, and managing them.</p>
                            <div class="event-info">
                                <img src="assets/images/image25.png" alt="Profil Simpson SN">
                                <div>
                                    <p class="mb-0">Simpson SN</p>
                                    <p class="event-date">18 Jan 2024</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-event">
                        <img src="assets/images/image25.png" class="card-img-top" alt="Image d'événement">
                        <div class="card-body">
                            <p class="event-category">Digital</p>
                            <div class="d-flex align-items-center">
                                <h5 class="card-title">Les outils digitaux</h5>
                            </div>
                            <p class="card-text">The rise of RESTful APIs has been met by a rise in tools for creating, testing, and managing them.</p>
                            <div class="event-info">
                                <img src="assets/images/image25.png" alt="Profil Simpson SN">
                                <div>
                                    <p class="mb-0">Simpson SN</p>
                                    <p class="event-date">18 Jan 2024</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-event">
                        <img src="assets/images/image25.png" class="card-img-top" alt="Image d'événement">
                        <div class="card-body">
                            <p class="event-category">Digital</p>
                            <div class="d-flex align-items-center">
                                <h5 class="card-title">Les outils digitaux</h5>
                            </div>
                            <p class="card-text">The rise of RESTful APIs has been met by a rise in tools for creating, testing, and managing them.</p>
                            <div class="event-info">
                                <img src="assets/images/image25.png" alt="Profil Simpson SN">
                                <div>
                                    <p class="mb-0">Simpson SN</p>
                                    <p class="event-date">18 Jan 2024</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<footer>
<app-footer></app-footer>
</footer>
