<header>
    <app-header1></app-header1>
  </header>
  
  <!-- Section avec image de fond -->
  <div class="events-section">
    
    <!-- Section avec image de fond -->
    <div class="events-section">
      <div class="container mt-5">
        <div class="header-section">
          <h1>Les événements</h1>
          <p>Les événements qui vont vous permettre d'accélérer votre processus entrepreneurial</p>
          <!-- Conteneur pour la barre de recherche -->
          <div class="search-container">
            <input type="text" class="form-control mx-auto" placeholder="Search" aria-label="Search">
          </div>
        </div>
    
        <div class="row">
          <!-- Affichage des événements dynamiquement -->
          <div *ngFor="let evenement of events" class="col-md-4">
            <a [routerLink]="['/detail_evenement', evenement.id]" class="card-link">
              <div class="card card-event">
                <!-- <img [src]="evenement.image" class="card-img-top" alt="Image d'événement"> -->
                <img *ngIf="evenement.image" [src]="getPhotoUrl(evenement.image)" [alt]="evenement.theme" class="card-img-top">
                <div class="card-body">
                  <p class="event-category">{{ evenement.theme }}</p>
                  <div class="d-flex align-items-center">
                    <!-- <h5 class="card-title">{{ evenement.description }}</h5> -->
                  </div>
                  <p class="card-text">{{ evenement.description }}</p>
                  <div class="event-info">
                    <!-- <img src="assets/images/image25.png" alt="Profil {{ evenement.organisateur }}"> -->
                    <div>
                      <!-- <p class="mb-0">{{ evenement.organisateur }}</p> -->
                      <p class="event-date">{{ evenement.date_debut | date:'dd MMM yyyy' }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <footer>
      <app-footer></app-footer>
    </footer>