
  <header >
    <app-header1></app-header1>
  </header>

   <!--Deuxième Section de Cartes-->

<!--Première Section de Cartes-->
<div class="row" *ngFor="let secteur of secteurs" (click)="onSecteurClick(secteur.id)">
  <div class="card" id="btp" style="width: 18rem;">
    <div class="card-body">
      <i class="fa-solid fa-house fa-3x"></i>
      <h2 class="card-title">{{ secteur.libelle }}</h2>
    </div>
  </div>

 

</div>

          <!--Deuxième Section de Cartes-->


<h2 id="h2">Liste des Coachs</h2>
<!--Première Section de Cartes-->
<div class="row" >
  <div class="card" style="width: 18rem; "*ngFor="let coach of coaches">
    <img *ngIf="coach.photo"  [src]="coach.photo" alt="{{ coach.name }}" class="card-img-top" id="img" alt="..." >
    <div class="card-body">
      <h5 class="card-title">{{ coach.name }}</h5>
      <p *ngIf="coach.secteur_activite" class="card-text">Coach en {{ coach.secteur_activite.libelle }}</p>
      <a [routerLink]="['/demande-accompagnement-coach', coach.id]" 
      class="btn btn-primary" 
      style="cursor: pointer;">
      Voir Profil
   </a>
    </div>
  </div>
  <div *ngIf="coaches && coaches.length === 0 && selectedSecteurId !== undefined">
    <p>Aucun coach trouvé pour le secteur sélectionné.</p>
  </div>


</div>


<footer>
  <app-footer></app-footer>
</footer>



