body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    color: #0000;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.507); 
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 100px;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-grow: 1;
    position: relative;
    
}

.nav-links {
    display: flex;
    justify-content: center; 
    align-items: center;
    list-style: none;
    padding: 0;
    
}

.nav-links li {
    margin: 0 15px;
    
}


.nav-links a {
    color: #0000;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color: #FF9700;
    text-decoration:underline;
    font-size: 18px;
}
.nav-links a{
    color: #0a0a09;
   
}
.connexion-btn {
    padding: 8px 15px;
    background-color: #FF9700;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 0; /* Place le bouton à droite */
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}
   

@media screen and (max-width: 390px) {
    /* Styles pour la barre de navigation */
    .navbar {
        display: none;
        flex-direction: column; 
        align-items: center;
        width: 100%; 
        position: fixed; 
       top: 50px;
        left: 0;
      background-color:#00214A ;
        
        box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); 
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out; 
        max-height: 0; 
        overflow: hidden; 
    }

    .nav-links a{
        color: #fff;
        font-size: 16px;
        font-weight: bold;
    }

    .navbar.active {
        display: flex; 
        max-height: 300px; 
        opacity: 1;
    }

    .bar {
      
        background-color: #00214A ;
        
    }
    .nav-links {
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        list-style: none; 
        padding: 0; 
        margin: 0;
        width: 100%; 
        color: black;
    }
    
   
    .nav-links li {
        margin: 10px 0; 
     
    }

   
    .hamburger-menu {
        display: flex; 
        flex-direction: column;
        cursor: pointer; 
        position: fixed; 
        top: 10px; 
        right: 10px; 
        z-index: 1001;
        color: #fff;
    }

    /* Animation du menu hamburger */
    .hamburger-menu.open .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); 
    }

    .hamburger-menu.open .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.open .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px); 
    }
}

