@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    font-family: Poppins, sans-serif;
}
.banner{
    margin-top: 10px;
    width: 100%;
    height: 500px;
    background-image: url("/assets/ressources/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.barAjout{
    background-color: #00214A;
    height: 107px;

   margin-top: 10px;

}
details {
	position: relative;
	width: 300px;
	margin-right: 1rem;
}
.custom-select{
    margin-top: 15px;
    float: right;
}
.list li{
    list-style: none;
}
details[open] {
	z-index: 1;
}

summary {
	padding: 1rem;
	cursor: pointer;
	border-radius: 5px;
	background-color: #ddd;
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

summary:after {
	content: '';
	display: inline-block;
	float: right;
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms
}

summary:focus {
	outline: none;
}

details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
}

ul {
	width: 100%;
	background: #ddd;
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
	max-height: 200px;
	overflow-y: auto;
}

li {
	margin: 0;
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
}

li:first-child {
	padding-top: 0;
}

li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
	counter-reset: radios;
}

summary.radios:before {
	content: var(--selection);
}

input[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
}

input[type=radio]:checked {
	display: inline;
	--display: block;
}

input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}

ul.list {
	counter-reset: labels;
}

label {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

label span {
	--display: none;
	display: var(--display);
	width: 1rem;
	height: 1rem;
	border: 1px solid #727272;
	border-radius: 3px;
}
.select select{
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    float: right;
    height: 40px;
    width: 200px;
    margin-right: 10%;
    background-color: #fff;
}

.container {
  width: 100%;
  align-items: center;
  margin: auto;
  min-height: 100vh;
  background-color: #fff;
}
.row {
  width: 85%;
  margin: auto;
}
.content-heading h1 {
  margin-left: 20px;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.heading-section {
  width: 60%;
  text-align: center;
  margin: auto;
}
.heading-section h1 {
  padding-top: 30px;
  font-size: 42px;
}
.heading-section p {
  margin-top: 15px;
  color: #3d3d3d;
  font-size: 17px;
}
.content-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.card {
  flex: 1;
  margin: 40px 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 15px;
}
.card img {
 width: 320px;
  height: 290px;
  object-fit: cover;
  position: static;
 margin-left: -5.5%;
  margin-top: -8%;
  border-radius: 15px  15px 0px  0px;
}
.card h4 {
  margin-top: 20px;
  font-size: 20px;
}
.card p {
  font-size: 16px;
  margin-top: 10px;
  color: #3d3d3d;
  line-height: 1.5;
}
.pop{
    background-color: #00214A;
    color: #fff;
   
    position: initial;
    margin-left: 75%;
   margin-top: -50%;
}
@media screen and (max-width: 390px) {
  .content-section {
    flex-direction: column;
  }
  .card img {
    width: 340px;
    height: 290px;
     object-fit: cover;
     position: static;
   margin-left: 1%;
     margin-top: -8%;
   }
   .card {
    flex: 1;
    margin: 40px 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 8px;
  }
}