<header>
    <app-header1></app-header1>
</header>
<div class="container mb-5">
    <h1 class="h4 mt-4" *ngIf="guide"><h2>{{ guide.titre }}</h2></h1>
    <div class="guide-card p-4 shadow-sm" *ngIf="guide">
        <div class="steps-container">
          <div
          class="step"
          *ngFor="let etape of guide.etapes; let i = index"
          (click)="showEtape(etape)"
          [class.active]="selectedEtape?.id === etape.id"
        >
          ETAPE {{ i + 1 }} <!-- Display step number starting from 1 -->
        </div>
        
          </div>
          
          <div id="contentToConvert" class="content-section" *ngIf="selectedEtape">
            <div class="content-text">
              <h4>{{ selectedEtape.libelle }}</h4>
              <p class="text-muted">{{ selectedEtape.description }}</p>
            </div>
            <a href="http://" target="_blank" rel="noopener noreferrer" class="content-icon">
                <!-- <img class="content-icon" src="../../../../assets/pdflogo.png" alt="Icon"> -->
                <p><a [href]="getFileUrl(selectedEtape.pieces_jointes)" target="_blank"><img src="../../../../assets/pdflogo.png" alt=""></a></p>
            </a>
          </div>
    </div> 
</div>

<app-footer></app-footer>
