body {
    background-color: #f8f9fa; 
}
.guide-card {
    margin-top: 50px;
    border: 2px solid #FF9700;
    border-radius: 5px;
    position: relative; 
}
.steps-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 2px solid #FF9700;
}
.step {
    background-color: #FF9700; /* Couleur orange */
    color: #FFFFFF; /* Texte en blanc */
    background-color: #FF9700; 
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.step:hover {
    background-color: #FF7F00; /* Couleur orange plus foncée au survol */
}
.step.active {
    background-color: #FF7F00;
    color: #00214A; /* Couleur bleue pour l'étape active */
}
.content-section {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF7F00; 
}
.step.active {
    background-color: #FF7F00;
    color: #00214A; 
}
.content-section {
    padding: 20px;
    display: block;
    align-items: center;
    justify-content:center;
    margin: auto;
}
.content-text {
    font-size: 1rem;
    margin: 0;
}
.icon-right {
    width: 80px;
    height: 80px;
}
.bottom-left-image {
    position: absolute;
    bottom: -40px; /* Positionner sous la carte */
    left: 0;
    width: 100px;
    height: auto;
    z-index: -1; /* Placer l'image en arrière-plan */
}
button{
    border: none;
    background: none;
}
button img{
   width: 80px;
   height: 80px;
    background: none;
    border: none;
}