body {
    font-family: poppins;
    font-weight: 300;
    font-size: 32px;
    background-color: #f8f9fa; /* Couleur de fond */
}
.guide-card {
    margin-top: 50px;
    border: 2px solid #FF9700;
    border-radius: 5px;
    position: relative; /* Pour permettre un positionnement absolu de l'image */
}
.steps-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 2px solid #FF9700;
}
.step {
    background-color: #FF9700; /* Couleur orange */
    color: #FFFFFF; /* Texte en blanc */
    font-weight: bold;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.step:hover {
    background-color: #FF7F00; /* Couleur orange plus foncée au survol */
}
.step.active {
    background-color: #FF7F00;
    color: #00214A; /* Couleur bleue pour l'étape active */
}
.content-section {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-text {
    font-family: poppins;
    font-size: 32px;
}
.icon-right {
    width: 130px;
    height: 80px;
}
.bottom-left-image {
    position: absolute;
    bottom: -40px; /* Positionner sous la carte */
    left: 0;
    width: 100px;
    height: auto;
    z-index: -1; /* Placer l'image en arrière-plan */
}