.users h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    margin-top: 25px;
}

.d-flex {
  display: flex;
 gap: 20px;
  align-items: center;
  
}
.btn-modifier {
  background-color: #ff8200;
  color: white;
  border-radius: 25px;
}
.btn-supprimer {
  background-color: red;
  color: white;
}
.btn-autoriser {
  background-color: #f5f5f5;
  color: #ff8200;
  border: 1px solid #ff8200;
  border-radius: 25px;
}
.search-bar {
  margin-bottom: 20px;
}
.search-bar input {
  width: calc(100% - 200px);
  display: inline-block;
  border-radius: 25px;
}
.search-bar button {
  width: 100px;
  display: inline-block;
  margin-left: 20px;
}

.btn-ajout {
  background-color: #ff8200;
  color: white;
  font-weight: 500px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  width: 169px;
  height: 49px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
th,
td {
  text-align: center;
}
.action {
  display: flex;
  justify-content: space-around;
}
.profile-header {
  background-color: #ff8200;
  color: white;
  padding: 2rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-header img {
  border-radius: 15px;
  width: 100%;
  max-width: 100%;
}
.profile-info {
  text-align: center;
  margin-top: 2rem;
}
.profile-info h3 {
  font-weight: bold;
  text-align: start;
}
.profile-info {
  display: flex;
  flex-direction: column;

  margin: 1rem 0;
  gap: 20px;
}
.contact-info {
  display: flex;

  margin: 1rem 0;
  gap: 20px;
}
.btn-custom {
  color: white;
  font-weight: 500px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  width: 116px;
  height: 41px;
}
.btn-logout {
  background-color: #ff9700;
}

.btn-permission {
    color: white;
    font-weight: 400px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    width: 250px;
    height: 42px;
    background-color: #00214A;
  }

  .btn-primary-custom {
    background-color: #ff8200;
    border-color: #ff8200;
  }

.boites {
  margin-top: 6rem;
}
.stat-card {
  background-color: #fff7ef;
  border: 1px solid #ff8200;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.stat-card h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.stat-card p {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.status-button {
  border-radius: 25px;
}
.success {
  border: 1px solid green;
  background: green;
  color: white;
}

.failed {
  border: 1px solid red;
  background: red;
  color: white;
}

.boutons {
  display: flex;
  gap: 3rem;
}
.navbar-size li a,
.navbar-size {
  font-size: 16px;
}

@media (max-width: 768px) {
  .btn-text {
    display: none;
  }
  .btn-icon {
    display: inline-block;
  }
  .btn-modifier,
  .btn-supprimer,
  .btn-autoriser,
  .btn-custom,
  .btn-logout,
  .btn-permission {
    background: white;
  }
  .btn-autoriser {
    border: 1px solid white;
  }
  /* .responsive-mobile {
    display: none;
  } */
  th,
  td {
    font-size: 10px;
  }
  .profile-header img {
    display: none;
  }
  .profile-header {
    padding: 6rem;
    text-align: center;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    text-align: start;
    gap: 10px;
  }
  .profile-info {
    gap: 10px;
  }
  .btn-custom {
    width: 50%;
  }

  .titre-edit {
    font-size: 14px;
  }

  .detail-container h4 {
    font-size: 14px;
  }
.btn-permission {
 width: 50%;
}
  
}

.responsive-img {
  max-width: 100%;
  height: auto;
  width: 9rem;
  height: 5rem;
  object-fit: contain; /* or use 'cover' if you want to cover the entire area */
}
@media (min-width: 768px) {
  .btn-icon {
    display: none;
  }
}
