<header class="container">
    <app-header-coach></app-header-coach>
</header>

<div class="container mt-5">
    <!-- Profile Banner -->
    <div class="profile-banner text-white text-center d-flex align-items-center justify-content-center">
        <h1>Profile Coach</h1>
    </div>

    <!-- Profile Details -->
    <div class="profile-details row align-items-center mt-4">
        <div class="col-md-8">
            <h2>Fatima Dansoko</h2>
            <p>
                <i class="fas fa-phone"></i>
                <span>78 103 35 01</span>
            </p>
            <p>
                <i class="far fa-envelope"></i>
                <span>fatoumatadansoko61gmail.com</span>
            </p>
            <p>
                <i class="fas fa-map-marker-alt"></i>
                    <span>Dakar plateau</span>
            </p>
            <p>
                <i class="bi bi-briefcase"></i> Informatiques &nbsp;&nbsp;
                <i class="bi bi-check-circle"></i> compte activé
            </p>
            <button class="btn btn-primary mt-5 mb-5">Modifier mes informations</button>
        </div>
        <div class="col-md-4 text-center ">
            <img src="../../../../assets/profil.png" alt="Fatima Dansoko" class="rounded-circle img-fluid profile-pic">
        </div>
    </div>
</div>
