
<app-header1></app-header1>

    <div class="banner">

    </div>
    <div class="barAjout">
        
<details class="custom-select">
	<summary class="radios">
		<input type="radio" name="item" id="default" title="liste des catégories" checked>
		<input type="radio" name="item" id="item1" title="Item 1">
		<input type="radio" name="item" id="item2" title="Item 2">
		<input type="radio" name="item" id="item3" title="Item 3">
		<input type="radio" name="item" id="item4" title="Item 4">
		<input type="radio" name="item" id="item5" title="Item 5">
	</summary>
	<ul class="list">
		<li>
			<label for="item1">
				Introduction à l'Entrepreneuriat
				<span></span>
			</label>
		</li>
		<li>
			<label for="item2">Business Model et Plan d'Affaires</label>
		</li>
		<li>
			<label for="item3">IMarketing Digital pour Entrepreneurs</label>
		</li>
		<li>
			<label for="item4">Gestion Financière pour les Entrepreneurs</label>
		</li>
		<li>
			<label for="item5">Leadership et Gestion d'Équipe</label>
		</li>
	</ul>
</details>
    </div>
    <section>
        <div class="container">
            <div class="row">
              
              <div class="content-heading">
                <div class="content-section">
                  <div class="card" routerLink="/detail-ressource">
                    <img src="https://cdn.pixabay.com/photo/2020/09/27/03/38/woman-5605529_640.jpg" alt="">
                    <h4>Cours de gestion d'entreprise et d'entrepreneuriat pour les propriétaires de petites entreprises</h4>
                    <p><i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        (3)
                    </p>
                    <p>page(54)</p>
                  </div>
          
                  <div class="card">
                    <img src="https://cdn.pixabay.com/photo/2017/08/06/00/27/yoga-2587066_640.jpg" alt="">
                    <h4>Lorem ipsum dolor sit amet.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, asperiores molestiae. Cupiditate</h4>
                    <p><i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        (3)
                    </p>
                    <p>page(45)</p>
                  </div>
          
                  <div class="card">
                    <img src="https://cdn.pixabay.com/photo/2024/07/08/05/41/girl-8880144_640.png" alt="">
                    <h4>Lorem ipsum dolor sit amet.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, asperiores molestiae. Cupiditate</h4>
                    <p><i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        (3)
                    </p>
                    <p>page(67)</p>
                  </div>
                </div>
              </div>
              <div class="content-heading">
                <div class="content-section">
                  <div class="card">
                    <img src="https://cdn.pixabay.com/photo/2020/09/27/03/38/woman-5605529_640.jpg" alt="">
                    <h4>Lorem ipsum dolor sit amet.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, asperiores molestiae. Cupiditate</h4>
                    <p><i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        (3)
                    </p>
                    <p>page(14)</p>
                  </div>
          
                  <div class="card">
                    <img src="https://cdn.pixabay.com/photo/2017/08/06/00/27/yoga-2587066_640.jpg" alt="">
                    <h4>Lorem ipsum dolor sit amet.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, asperiores molestiae. Cupiditate</h4>
                    <p><i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        (3)
                    </p>
                    <p>page(24)</p>
                  </div>
          
                  <div class="card">
                    <img src="https://cdn.pixabay.com/photo/2024/07/08/05/41/girl-8880144_640.png" alt="">
                    <h4>Lorem ipsum dolor sit amet.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, asperiores molestiae. Cupiditate</h4>
                    <p><i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        (3)
                    </p>
                    <p>page(16)</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section>
    <app-footer></app-footer>
