<app-header1></app-header1>

<div class="banner">
  <!-- Banner content here -->
</div>

<div class="barAjout">
  <details class="custom-select">
    <summary class="radios">
      <input type="radio" name="item" id="default" title="liste des catégories" checked>
   
    </summary>
    <ul class="list">
      <li *ngFor="let categorie of tabCategorie">
		<label (click)="onCategorieClick(categorie.id)" for="item1">
			{{ categorie.titre }}
			<span></span>
        </label>
      </li>
    </ul>
  </details>
</div>

<section class="body">
  <div *ngFor="let ressource of tabRessources" class="row">
    <div class="container">
      <div class="card-image">
        <!-- <img [src]="ressource.image" alt="{{ ressource.titre }}" /> -->
        <img *ngIf="ressource.image" [src]="getPhotoUrl(ressource.image)" alt="{{ ressource.titre }}">
        <!-- <img *ngIf="user.photo" [src]="getPhotoUrl(user.photo)" alt="Profile Picture" class="rounded-circle img-fluid profile-pic"> -->
      </div>
      <div class="card-text"  [routerLink]="['/detail-ressource', ressource.id]">
        {{ ressource.titre }}
      </div>
      <div class="card-divider"></div>
      
        <!-- <button class="btnDetail mt-3" target="_blank">Voir le contenu</button> -->
      
    </div>
  </div>
</section>

<app-footer></app-footer>
