@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family:Poppins;
}
body{
   margin: 0;
   font-family:Poppins;
 
}
.banner{
    margin-top: 10px;
    width: 100%;
    height: 500px;
    background-image: url("/assets/ressources/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.barAjout{
    background-color: #00214A;
    height: 107px;

   margin-top: 10px;

}
details {
	position: relative;
	width: 300px;
	margin-right: 1rem;
}
.custom-select{
    margin-top: 15px;
    float: right;
    background-color: #00214A;
    border: none;
}
.list li{
    list-style: none;
}
details[open] {
	z-index: 1;
}

summary {
	padding: 1rem;
  width: 200px;
	cursor: pointer;
	border-radius: 5px;
	background-color: #FFF;
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

summary:after {
	content: '';
	display: inline-block;
	
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms
}

summary:focus {
	outline: none;
}

details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
}

ul {
	width: 100%;
	background: #fff;
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
	max-height: 200px;
	overflow-y: auto;
}

li {
	margin: 0;
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
}

li:first-child {
	padding-top: 0;
}

li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
	counter-reset: radios;
}

summary.radios:before {
	content: var(--selection);
}

input[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
}

input[type=radio]:checked {
	display: inline;
	--display: block;
}

input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}

ul.list {
	counter-reset: labels;
}

label {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

label span {
	--display: none;
	display: var(--display);
	width: 1rem;
	height: 1rem;
	border: 1px solid #727272;
	border-radius: 3px;
}
.select select{
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    float: right;
    height: 40px;
    width: 200px;
    margin-right: 10%;
    background-color: #fff;
}

.body {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
 margin: 8% auto 10%;
  gap: 30px;
 
  width: 1420px;
 
}

.card-image img{
  width: 100%;
  /*   object-fit:fill; */
  height: 20vh;
  display: flex;
  border-radius: 20px 20px 0px 0px;
}
.card-name {
  font-size: 20px;
}

.container {
  font-family: Arial;
  width: 324.234px;
  height: 449.172px;
  border-radius: 20px;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 14%);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.card-divider {
  height: 1px;
  width: 100%;
  background-color: rgb(100, 30, 30, 14%);
}
.card-text {
  line-height: 1.5;
  padding: 20px;
}

.card-link-text {
  align-self: center;
  text-decoration: none;
  padding-bottom: 10px;
  color: #33b3b3;
}
.card-link-text:hover {
  color: rgb(51, 190, 190, 60%);
}
.card-name {
  margin-left: 20px;
}
.card-bottom {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}
.card-add-new {
  background-color: #f44336;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 54%);
  border-radius: 50%;
  position: relative;
  left: 70%;
  bottom: 40%;
}

@media screen and (min-width: 360px) and (max-width: 882px) {

  .body {

    justify-content: center;
    display: block;
   margin: 10% auto;
   
  }
  
  .row {
    display: block;
    flex-grow:1;
    flex-direction: column;
    justify-content: space-evenly;
    margin:auto;
  }
  .container {
    font-family: Arial;
    width: 324.234px;
    height: 449.172px;
    border-radius: 20px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 14%);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px auto;
  }
  .body {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
   margin: 8% auto 10%;
    gap: 30px;
   
    width: 350px;
   
  }
}