<header class="container">
    <app-header-admin></app-header-admin>
</header>
<div class="container mt-2">
    
    <div class="d-flex mb-3">
        <img src="../../../../assets/retour.svg" class="me-3" alt="" routerLink="/events-details-admin/ {{event.id}}">
    <h2>La liste des réservations pour l'événement {{event.theme}}</h2>
    </div>
    <table class="custom-table mt-2">
        <thead>
            <tr>
                <th>id</th>
                <th>Nom Complet</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody *ngIf="reservation.length > 0">
            <tr *ngFor="let item of reservation">
                <td>{{item.user.id}}</td>
                <td>{{item.user.name}}</td>
                <td>{{item.user.email}}</td>
                <td>{{item.user.telephone}}</td>
                <td class="table-actions">
                    <ng-container *ngIf="item.status !== 'accepte'; else acceptedTemplate">
                      <img
                        src="../../../../assets/check.svg"
                        class="me-3"
                        alt="Approve"
                        (click)="approveReservation(item.id)"
                        style="cursor: pointer;"
                      />
                      <img
                        src="../../../../assets/cancel.svg"
                        class="me-3"
                        alt="Reject"
                        (click)="rejectReservation(item.id)"
                        style="cursor: pointer;"
                      />
                    </ng-container>
                    <ng-template #acceptedTemplate>
                      <span>Accepté</span>
                    </ng-template>
                  </td>
            </tr>
        </tbody>
    </table>
</div>