<header class="container">
    <app-header-admin></app-header-admin>
</header>
<div class="container mt-2">
    
    <div class="d-flex mb-3">
        <img src="../../../../assets/retour.svg" class="me-3" alt="" routerLink="/events-details-admin">
    <h2>La liste des réservations pour l'événement "Nom de l'événement"</h2>
    </div>
    <table class="custom-table mt-2">
        <thead>
            <tr>
                <th>id</th>
                <th>Nom Complet</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Example reservation data -->
            <tr>
                <td>1</td>
                <td>Aida Ndiaye</td>
                <td>aidagmail.com</td>
                <td>77 123 45 67</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Celine Mendy</td>
                <td>celinegmail.com</td>
                <td>77 234 56 78</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Mouhammand Ndour</td>
                <td>mouhammandgmail.com</td>
                <td>77 345 67 89</td>
            </tr>
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>